@use '../../settings/typography/content' as typography;
@use '../../settings/config';
@use '../../settings/depth';
@use '../../settings/mixins';

details summary::-webkit-details-marker {
  display: none;
}

.collapsible {
  @include typography.body-regular-primary;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  &.disabled {
    pointer-events: none;
    user-select: none;
  }

  .collapsible-header {
    display: flex;
    align-items: center;
    gap: config.$space-3x;
    padding: config.$space-5x;
    cursor: default;

    .collapsible-title {
      font-size: 1rem;
      font-weight: normal;
      flex: 1;
    }
  }

  .collapsible-content {
    padding: config.$space-7x config.$space-7x config.$space-3x;

    &.no-horizontal-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.primary,
  &.secondary {
    &[open] {
      .collapsible-header {
        background: transparent;
        border-bottom: 3px solid var(--primary-color-600);
      }
    }

    &.disabled {
      .collapsible-header {
        background: var(--neutral-color-50);
        border-bottom: 1px solid var(--neutral-color-200);
        color: var(--neutral-color-200);
        @include mixins.svg-color(var(--neutral-color-200));
      }
    }

    .collapsible-header {
      color: var(--neutral-color-1000);
      background: transparent;
      border-bottom: 1px solid var(--neutral-color-200);
      @include mixins.svg-color(var(--primary-color-600));

      &:hover {
        background: var(--primary-color-50);
      }
    }
  }

  &.secondary .collapsible-content {
    padding: config.$space-3x config.$space-4x config.$space-6x;
    border: 1px solid var(--neutral-color-200);
    border-top: none;
    border-bottom-left-radius: config.$corner-radius-m;
    border-bottom-right-radius: config.$corner-radius-m;
  }
}

.collapsible[open] {
  .collapsible-arrow {
    transform: rotate(90deg);
  }
}
