:export {
  BPrimaryColor1000: var(--bacosoft-primary-color-1000);
  BPrimaryColor900: var(--bacosoft-primary-color-900);
  BPrimaryColor800: var(--bacosoft-primary-color-800);
  BPrimaryColor700: var(--bacosoft-primary-color-700);
  BPrimaryColor600: var(--bacosoft-primary-color-600);
  BPrimaryColor500: var(--bacosoft-primary-color-500);
  BPrimaryColor400: var(--bacosoft-primary-color-400);
  BPrimaryColor300: var(--bacosoft-primary-color-300);
  BPrimaryColor200: var(--bacosoft-primary-color-200);
  BPrimaryColor100: var(--bacosoft-primary-color-100);
  BPrimaryColor50: var(--bacosoft-primary-color-50);
  BNeutralColor1000: var(--bacosoft-neutral-color-1000);
  BNeutralColor900: var(--bacosoft-neutral-color-900);
  BNeutralColor800: var(--bacosoft-neutral-color-800);
  BNeutralColor700: var(--bacosoft-neutral-color-700);
  BNeutralColor600: var(--bacosoft-neutral-color-600);
  BNeutralColor500: var(--bacosoft-neutral-color-500);
  BNeutralColor400: var(--bacosoft-neutral-color-400);
  BNeutralColor300: var(--bacosoft-neutral-color-300);
  BNeutralColor200: var(--bacosoft-neutral-color-200);
  BNeutralColor100: var(--bacosoft-neutral-color-100);
  BNeutralColor50: var(--bacosoft-neutral-color-50);
   IPrimaryColor1000: var(--isagri-primary-color-1000);
  IPrimaryColor900: var(--isagri-primary-color-900);
  IPrimaryColor800: var(--isagri-primary-color-800);
  IPrimaryColor700: var(--isagri-primary-color-700);
  IPrimaryColor600: var(--isagri-primary-color-600);
  IPrimaryColor500: var(--isagri-primary-color-500);
  IPrimaryColor400: var(--isagri-primary-color-400);
  IPrimaryColor300: var(--isagri-primary-color-300);
  IPrimaryColor200: var(--isagri-primary-color-200);
  IPrimaryColor100: var(--isagri-primary-color-100);
  IPrimaryColor50: var(--isagri-primary-color-50);
  INeutralColor1000: var(--isagri-neutral-color-1000);
  INeutralColor900: var(--isagri-neutral-color-900);
  INeutralColor800: var(--isagri-neutral-color-800);
  INeutralColor700: var(--isagri-neutral-color-700);
  INeutralColor600: var(--isagri-neutral-color-600);
  INeutralColor500: var(--isagri-neutral-color-500);
  INeutralColor400: var(--isagri-neutral-color-400);
  INeutralColor300: var(--isagri-neutral-color-300);
  INeutralColor200: var(--isagri-neutral-color-200);
  INeutralColor100: var(--isagri-neutral-color-100);
  INeutralColor50: var(--isagri-neutral-color-50);
  errorColor1000: var(--error-color-1000);
  errorColor900: var(--error-color-900);
  errorColor800: var(--error-color-800);
  errorColor700: var(--error-color-700);
  errorColor600: var(--error-color-600);
  errorColor500: var(--error-color-500);
  errorColor400: var(--error-color-400);
  errorColor300: var(--error-color-300);
  errorColor200: var(--error-color-200);
  errorColor100: var(--error-color-100);
  errorColor50: var(--error-color-50);
  successColor1000: var(--success-color-1000);
  successColor900: var(--success-color-900);
  successColor800: var(--success-color-800);
  successColor700: var(--success-color-700);
  successColor600: var(--success-color-600);
  successColor500: var(--success-color-500);
  successColor400: var(--success-color-400);
  successColor300: var(--success-color-300);
  successColor200: var(--success-color-200);
  successColor100: var(--success-color-100);
  successColor50: var(--success-color-50);
  warningColor1000: var(--warning-color-1000);
  warningColor900: var(--warning-color-900);
  warningColor800: var(--warning-color-800);
  warningColor700: var(--warning-color-700);
  warningColor600: var(--warning-color-600);
  warningColor500: var(--warning-color-500);
  warningColor400: var(--warning-color-400);
  warningColor300: var(--warning-color-300);
  warningColor200: var(--warning-color-200);
  warningColor100: var(--warning-color-100);
  warningColor50: var(--warning-color-50);
  infoColor1000: var(--info-color-1000);
  infoColor900: var(--info-color-900);
  infoColor800: var(--info-color-800);
  infoColor700: var(--info-color-700);
  infoColor600: var(--info-color-600);
  infoColor500: var(--info-color-500);
  infoColor400: var(--info-color-400);
  infoColor300: var(--info-color-300);
  infoColor200: var(--info-color-200);
  infoColor100: var(--info-color-100);
  infoColor50: var(--info-color-50);
  neutralBlack: var(--neutral-black);
  neutralWhite: var(--neutral-white);
}
