:export {
  strawberryPrimaryColor1000: var(--strawberry-primary-color-1000);
  strawberryPrimaryColor900: var(--strawberry-primary-color-900);
  strawberryPrimaryColor800: var(--strawberry-primary-color-800);
  strawberryPrimaryColor700: var(--strawberry-primary-color-700);
  strawberryPrimaryColor600: var(--strawberry-primary-color-600);
  strawberryPrimaryColor500: var(--strawberry-primary-color-500);
  strawberryPrimaryColor400: var(--strawberry-primary-color-400);
  strawberryPrimaryColor300: var(--strawberry-primary-color-300);
  strawberryPrimaryColor200: var(--strawberry-primary-color-200);
  strawberryPrimaryColor100: var(--strawberry-primary-color-100);
  strawberryPrimaryColor50: var(--strawberry-primary-color-50);
  strawberryNeutralColor1000: var(--strawberry-neutral-color-1000);
  strawberryNeutralColor900: var(--strawberry-neutral-color-900);
  strawberryNeutralColor800: var(--strawberry-neutral-color-800);
  strawberryNeutralColor700: var(--strawberry-neutral-color-700);
  strawberryNeutralColor600: var(--strawberry-neutral-color-600);
  strawberryNeutralColor500: var(--strawberry-neutral-color-500);
  strawberryNeutralColor400: var(--strawberry-neutral-color-400);
  strawberryNeutralColor300: var(--strawberry-neutral-color-300);
  strawberryNeutralColor200: var(--strawberry-neutral-color-200);
  strawberryNeutralColor100: var(--strawberry-neutral-color-100);
  strawberryNeutralColor50: var(--strawberry-neutral-color-50);
  pistachioPrimaryColor1000: var(--pistachio-primary-color-1000);
  pistachioPrimaryColor900: var(--pistachio-primary-color-900);
  pistachioPrimaryColor800: var(--pistachio-primary-color-800);
  pistachioPrimaryColor700: var(--pistachio-primary-color-700);
  pistachioPrimaryColor600: var(--pistachio-primary-color-600);
  pistachioPrimaryColor500: var(--pistachio-primary-color-500);
  pistachioPrimaryColor400: var(--pistachio-primary-color-400);
  pistachioPrimaryColor300: var(--pistachio-primary-color-300);
  pistachioPrimaryColor200: var(--pistachio-primary-color-200);
  pistachioPrimaryColor100: var(--pistachio-primary-color-100);
  pistachioPrimaryColor50: var(--pistachio-primary-color-50);
  pistachioNeutralColor1000: var(--pistachio-neutral-color-1000);
  pistachioNeutralColor900: var(--pistachio-neutral-color-900);
  pistachioNeutralColor800: var(--pistachio-neutral-color-800);
  pistachioNeutralColor700: var(--pistachio-neutral-color-700);
  pistachioNeutralColor600: var(--pistachio-neutral-color-600);
  pistachioNeutralColor500: var(--pistachio-neutral-color-500);
  pistachioNeutralColor400: var(--pistachio-neutral-color-400);
  pistachioNeutralColor300: var(--pistachio-neutral-color-300);
  pistachioNeutralColor200: var(--pistachio-neutral-color-200);
  pistachioNeutralColor100: var(--pistachio-neutral-color-100);
  pistachioNeutralColor50: var(--pistachio-neutral-color-50);
  errorColor1000: var(--error-color-1000);
  errorColor900: var(--error-color-900);
  errorColor800: var(--error-color-800);
  errorColor700: var(--error-color-700);
  errorColor600: var(--error-color-600);
  errorColor500: var(--error-color-500);
  errorColor400: var(--error-color-400);
  errorColor300: var(--error-color-300);
  errorColor200: var(--error-color-200);
  errorColor100: var(--error-color-100);
  errorColor50: var(--error-color-50);
  successColor1000: var(--success-color-1000);
  successColor900: var(--success-color-900);
  successColor800: var(--success-color-800);
  successColor700: var(--success-color-700);
  successColor600: var(--success-color-600);
  successColor500: var(--success-color-500);
  successColor400: var(--success-color-400);
  successColor300: var(--success-color-300);
  successColor200: var(--success-color-200);
  successColor100: var(--success-color-100);
  successColor50: var(--success-color-50);
  warningColor1000: var(--warning-color-1000);
  warningColor900: var(--warning-color-900);
  warningColor800: var(--warning-color-800);
  warningColor700: var(--warning-color-700);
  warningColor600: var(--warning-color-600);
  warningColor500: var(--warning-color-500);
  warningColor400: var(--warning-color-400);
  warningColor300: var(--warning-color-300);
  warningColor200: var(--warning-color-200);
  warningColor100: var(--warning-color-100);
  warningColor50: var(--warning-color-50);
  infoColor1000: var(--info-color-1000);
  infoColor900: var(--info-color-900);
  infoColor800: var(--info-color-800);
  infoColor700: var(--info-color-700);
  infoColor600: var(--info-color-600);
  infoColor500: var(--info-color-500);
  infoColor400: var(--info-color-400);
  infoColor300: var(--info-color-300);
  infoColor200: var(--info-color-200);
  infoColor100: var(--info-color-100);
  infoColor50: var(--info-color-50);
  neutralBlack: var(--neutral-black);
  neutralWhite: var(--neutral-white);
}
