// :export {
//   primary: var(--primary-color-1000);
//   neutral: var(--neutral-color-1000);
//   error: var(--error-color-1000);
//   success: var(--success-color-1000);
//   warning: var(--warning-color-1000);
//   info: var(--info-color-1000);
//   neutralBlack: var(--neutral-black);
//   neutralWhite: var(--neutral-white);
// }

:export {
  primaryColor1000: var(--primary-color-1000);
  primaryColor900: var(--primary-color-900);
  primaryColor800: var(--primary-color-800);
  primaryColor700: var(--primary-color-700);
  primaryColor600: var(--primary-color-600);
  primaryColor500: var(--primary-color-500);
  primaryColor400: var(--primary-color-400);
  primaryColor300: var(--primary-color-300);
  primaryColor200: var(--primary-color-200);
  primaryColor100: var(--primary-color-100);
  primaryColor50: var(--primary-color-50);
  neutralColor1000: var(--neutral-color-1000);
  neutralColor900: var(--neutral-color-900);
  neutralColor800: var(--neutral-color-800);
  neutralColor700: var(--neutral-color-700);
  neutralColor600: var(--neutral-color-600);
  neutralColor500: var(--neutral-color-500);
  neutralColor400: var(--neutral-color-400);
  neutralColor300: var(--neutral-color-300);
  neutralColor200: var(--neutral-color-200);
  neutralColor100: var(--neutral-color-100);
  neutralColor50: var(--neutral-color-50);
  errorColor1000: var(--error-color-1000);
  errorColor900: var(--error-color-900);
  errorColor800: var(--error-color-800);
  errorColor700: var(--error-color-700);
  errorColor600: var(--error-color-600);
  errorColor500: var(--error-color-500);
  errorColor400: var(--error-color-400);
  errorColor300: var(--error-color-300);
  errorColor200: var(--error-color-200);
  errorColor100: var(--error-color-100);
  errorColor50: var(--error-color-50);
  successColor1000: var(--success-color-1000);
  successColor900: var(--success-color-900);
  successColor800: var(--success-color-800);
  successColor700: var(--success-color-700);
  successColor600: var(--success-color-600);
  successColor500: var(--success-color-500);
  successColor400: var(--success-color-400);
  successColor300: var(--success-color-300);
  successColor200: var(--success-color-200);
  successColor100: var(--success-color-100);
  successColor50: var(--success-color-50);
  warningColor1000: var(--warning-color-1000);
  warningColor900: var(--warning-color-900);
  warningColor800: var(--warning-color-800);
  warningColor700: var(--warning-color-700);
  warningColor600: var(--warning-color-600);
  warningColor500: var(--warning-color-500);
  warningColor400: var(--warning-color-400);
  warningColor300: var(--warning-color-300);
  warningColor200: var(--warning-color-200);
  warningColor100: var(--warning-color-100);
  warningColor50: var(--warning-color-50);
  infoColor1000: var(--info-color-1000);
  infoColor900: var(--info-color-900);
  infoColor800: var(--info-color-800);
  infoColor700: var(--info-color-700);
  infoColor600: var(--info-color-600);
  infoColor500: var(--info-color-500);
  infoColor400: var(--info-color-400);
  infoColor300: var(--info-color-300);
  infoColor200: var(--info-color-200);
  infoColor100: var(--info-color-100);
  infoColor50: var(--info-color-50);
  neutralBlack: var(--neutral-black);
  neutralWhite: var(--neutral-white);
}
