@use '../settings/color_alias';
// :export {
//   primary: color_alias.$primary-color-1000;
//   neutral: color_alias.$neutral-color-1000;
//   error: color_alias.$error-color-1000;
//   success: color_alias.$success-color-1000;
//   warning: color_alias.$warning-color-1000;
//   info: color_alias.$info-color-1000;
//   neutralBlack: color_alias.$neutral-black;
//   neutralWhite: color_alias.$neutral-white;
// }

:export {
  primaryColor1000: color_alias.$primary-color-1000;
  primaryColor900: color_alias.$primary-color-900;
  primaryColor800: color_alias.$primary-color-800;
  primaryColor700: color_alias.$primary-color-700;
  primaryColor600: color_alias.$primary-color-600;
  primaryColor500: color_alias.$primary-color-500;
  primaryColor400: color_alias.$primary-color-400;
  primaryColor300: color_alias.$primary-color-300;
  primaryColor200: color_alias.$primary-color-200;
  primaryColor100: color_alias.$primary-color-100;
  primaryColor50: color_alias.$primary-color-50;
  neutralColor1000: color_alias.$neutral-color-1000;
  neutralColor900: color_alias.$neutral-color-900;
  neutralColor800: color_alias.$neutral-color-800;
  neutralColor700: color_alias.$neutral-color-700;
  neutralColor600: color_alias.$neutral-color-600;
  neutralColor500: color_alias.$neutral-color-500;
  neutralColor400: color_alias.$neutral-color-400;
  neutralColor300: color_alias.$neutral-color-300;
  neutralColor200: color_alias.$neutral-color-200;
  neutralColor100: color_alias.$neutral-color-100;
  neutralColor50: color_alias.$neutral-color-50;
  errorColor1000: color_alias.$error-color-1000;
  errorColor900: color_alias.$error-color-900;
  errorColor800: color_alias.$error-color-800;
  errorColor700: color_alias.$error-color-700;
  errorColor600: color_alias.$error-color-600;
  errorColor500: color_alias.$error-color-500;
  errorColor400: color_alias.$error-color-400;
  errorColor300: color_alias.$error-color-300;
  errorColor200: color_alias.$error-color-200;
  errorColor100: color_alias.$error-color-100;
  errorColor50: color_alias.$error-color-50;
  successColor1000: color_alias.$success-color-1000;
  successColor900: color_alias.$success-color-900;
  successColor800: color_alias.$success-color-800;
  successColor700: color_alias.$success-color-700;
  successColor600: color_alias.$success-color-600;
  successColor500: color_alias.$success-color-500;
  successColor400: color_alias.$success-color-400;
  successColor300: color_alias.$success-color-300;
  successColor200: color_alias.$success-color-200;
  successColor100: color_alias.$success-color-100;
  successColor50: color_alias.$success-color-50;
  warningColor1000: color_alias.$warning-color-1000;
  warningColor900: color_alias.$warning-color-900;
  warningColor800: color_alias.$warning-color-800;
  warningColor700: color_alias.$warning-color-700;
  warningColor600: color_alias.$warning-color-600;
  warningColor500: color_alias.$warning-color-500;
  warningColor400: color_alias.$warning-color-400;
  warningColor300: color_alias.$warning-color-300;
  warningColor200: color_alias.$warning-color-200;
  warningColor100: color_alias.$warning-color-100;
  warningColor50: color_alias.$warning-color-50;
  infoColor1000: color_alias.$info-color-1000;
  infoColor900: color_alias.$info-color-900;
  infoColor800: color_alias.$info-color-800;
  infoColor700: color_alias.$info-color-700;
  infoColor600: color_alias.$info-color-600;
  infoColor500: color_alias.$info-color-500;
  infoColor400: color_alias.$info-color-400;
  infoColor300: color_alias.$info-color-300;
  infoColor200: color_alias.$info-color-200;
  infoColor100: color_alias.$info-color-100;
  infoColor50: color_alias.$info-color-50;
  neutralBlack: color_alias.$neutral-black;
  neutralWhite: color_alias.$neutral-white;
}
