@use '../../settings/typography/form' as typography;
@use '../../settings/config';
@use '../../settings/depth';
@use '../../settings/mixins';

$elements-space: config.$space-2x;

.select-group {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: $elements-space;
  }

  .select {
    @include typography.select-text;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .clear-button > .icon {
    width: config.$icon-size-3x;
    height: config.$icon-size-3x;
  }

  .help-text {
    margin-top: $elements-space;
  }

  &.primary {
    .select-container.disabled {
      border: 1px solid var(--neutral-color-400);
      background: var(--neutral-color-50);
      @include mixins.icon-color(var(--neutral-color-400));

      .select {
        color: var(--neutral-color-400);
      }
    }

    &.invalid {
      .select-container {
        border: 1px solid var(--error-color-1000);
      }
    }

    &.filled .select {
      @include typography.select-option-text;
    }

    .select-container {
      border-radius: config.$corner-radius-m;
      border: 1px solid var(--neutral-color-600);
      background: var(--neutral-white);
      @include mixins.icon-color(var(--primary-color-600));

      &:has(.select:focus) {
        border: 1px solid var(--primary-color-600);
      }
    }

    .loading {
      display: flex;
      justify-content: center;
      padding: config.$space-2x config.$space-3x;
    }

    .select-options {
      border-radius: config.$corner-radius-xxs;
      background: var(--neutral-white);
      box-shadow:
        0 9px 28px 8px rgba(0, 0, 0, 0.05),
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12);

      .option {
        background: var(--neutral-white);
        @include typography.select-option-text;

        &:hover {
          background-color: var(--primary-color-50);
        }

        > .icon {
          > svg {
            border-radius: config.$corner-radius-xxs;

            .checkbox-active_svg__border {
              fill: var(--primary-color-600);
            }

            .checkbox-active_svg__background {
              fill: var(--primary-color-600);
            }

            .checkbox-inactive_svg__border {
              fill: var(--neutral-color-600);
            }
          }
        }
      }
    }
  }

  .select-container {
    text-align: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: config.$space-2x config.$space-3x;
  }

  .select-options-container {
    position: relative;

    .select-options {
      top: 0;
      left: 0;
      max-height: 256px;
      overflow-y: auto;
      overflow-anchor: none;
      z-index: depth.$z-dropdown-options;
      margin: $elements-space 0 0;
      padding: config.$space-1x 0;
      text-align: left;
      position: absolute;
      width: 100%;

      .search {
        margin: config.$space-2x config.$space-3x;
      }

      ul {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .option {
        display: flex;
        align-items: center;
        cursor: default;
        list-style-type: none;
        padding: config.$space-2x config.$space-3x;

        > .icon {
          width: config.$icon-size-4x;
          height: config.$icon-size-4x;
          margin-right: config.$space-1x;
        }
      }
    }
  }
}
