@use '../../settings/typography/content' as typography;
@use '../../settings/config';
@use '../../settings/depth';

.alert {
  display: flex;
  justify-content: space-between;
  padding: config.$space-2x config.$space-3x;
  gap: config.$space-2x;
  align-items: flex-start;
  border-radius: config.$corner-radius-xxs;
  pointer-events: auto;
  margin: 0;

  &.fit-content {
    width: fit-content;
  }

  .information-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: config.$space-2x;

    .text {
      @include typography.body-regular-primary;

      a {
        color: var(--strawberry-primary-color-600);

        &:hover:not(:disabled) {
          color: var(--strawberry-primary-color-800);
        }
      }
    }
  }

  .icon {
    margin-top: 2px;
    width: config.$icon-size-5x;
    height: config.$icon-size-5x;
    min-width: config.$icon-size-5x;
    > svg {
      width: 100%;
      height: 100%;
    }
  }
  button {
    pointer-events: auto;
  }
  .icon-button {
    margin-top: 5px;
    .icon {
      width: config.$icon-size-3x;
      height: config.$icon-size-3x;
      > svg {
        fill: var(--neutral-color-400);
        path {
          fill: var(--neutral-color-400);
        }
      }
    }
    &:hover {
      .icon {
        > svg {
          fill: var(--neutral-color-400);
          path {
            fill: var(--neutral-color-400);
          }
        }
      }
    }
  }

  &.fade-out {
    animation: fadeOut 3s ease-out forwards;
  }

  &.info {
    border: 1px solid var(--info-color-600);
    background: var(--info-color-50);
  }

  &.success {
    border: 1px solid var(--success-color-300);
    background: var(--success-color-50);
  }

  &.warning {
    border: 1px solid var(--warning-color-300);
    background: var(--warning-color-50);
  }

  &.error {
    border: 1px solid var(--error-color-1000);
    background: var(--error-color-50);
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
}
