@use '../settings/typography/content' as typography;
@use '../settings/breakpoints';
@use '../settings/colors';

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

.side-by-side {
  display: flex;
  gap: 2rem;
  >.isagri, >.bacosoft {
    flex: 1;
  }
}

.isagri {
  --primary-color-1000: colors.$isagri-primary-color-1000;
  --primary-color-900: colors.$isagri-primary-color-900;
  --primary-color-800: colors.$isagri-primary-color-800;
  --primary-color-700: colors.$isagri-primary-color-700;
  --primary-color-600: colors.$isagri-primary-color-600;
  --primary-color-500: colors.$isagri-primary-color-500;
  --primary-color-400: colors.$isagri-primary-color-400;
  --primary-color-300: colors.$isagri-primary-color-300;
  --primary-color-200: colors.$isagri-primary-color-200;
  --primary-color-100: colors.$isagri-primary-color-100;
  --primary-color-50: colors.$isagri-primary-color-50;
  --neutral-color-1000: colors.$isagri-neutral-color-1000;
  --neutral-color-900: colors.$isagri-neutral-color-900;
  --neutral-color-800: colors.$isagri-neutral-color-800;
  --neutral-color-700: colors.$isagri-neutral-color-700;
  --neutral-color-600: colors.$isagri-neutral-color-600;
  --neutral-color-500: colors.$isagri-neutral-color-500;
  --neutral-color-400: colors.$isagri-neutral-color-400;
  --neutral-color-300: colors.$isagri-neutral-color-300;
  --neutral-color-200: colors.$isagri-neutral-color-200;
  --neutral-color-100: colors.$isagri-neutral-color-100;
  --neutral-color-50: colors.$isagri-neutral-color-50;
}

.bacosoft {
  --primary-color-1000: colors.$bacosoft-primary-color-1000;
  --primary-color-900: colors.$bacosoft-primary-color-900;
  --primary-color-800: colors.$bacosoft-primary-color-800;
  --primary-color-700: colors.$bacosoft-primary-color-700;
  --primary-color-600: colors.$bacosoft-primary-color-600;
  --primary-color-500: colors.$bacosoft-primary-color-500;
  --primary-color-400: colors.$bacosoft-primary-color-400;
  --primary-color-300: colors.$bacosoft-primary-color-300;
  --primary-color-200: colors.$bacosoft-primary-color-200;
  --primary-color-100: colors.$bacosoft-primary-color-100;
  --primary-color-50: colors.$bacosoft-primary-color-50;
  --neutral-color-1000: colors.$bacosoft-neutral-color-1000;
  --neutral-color-900: colors.$bacosoft-neutral-color-900;
  --neutral-color-800: colors.$bacosoft-neutral-color-800;
  --neutral-color-700: colors.$bacosoft-neutral-color-700;
  --neutral-color-600: colors.$bacosoft-neutral-color-600;
  --neutral-color-500: colors.$bacosoft-neutral-color-500;
  --neutral-color-400: colors.$bacosoft-neutral-color-400;
  --neutral-color-300: colors.$bacosoft-neutral-color-300;
  --neutral-color-200: colors.$bacosoft-neutral-color-200;
  --neutral-color-100: colors.$bacosoft-neutral-color-100;
  --neutral-color-50: colors.$bacosoft-neutral-color-50;
}

body {
  @include typography.body-regular-primary;
  * {
    scrollbar-width: thin;
  }
}

a {
  @include typography.body-link;
  cursor: default;
}

h1 {
  @include typography.h1;

  @media only screen and (max-width: breakpoints.$large) {
    @include typography.h2;
  }
}

h2 {
  @include typography.h2;
}

h3 {
  @include typography.h3;
}

h4 {
  @include typography.h4;
}
