@use '../settings/colors';
@use '../settings/color_alias';

:root {
  --primary-color-1000: color_alias.$bacosoft-primary-color-1000;
  --primary-color-900: color_alias.$bacosoft-primary-color-900;
  --primary-color-800: color_alias.$bacosoft-primary-color-800;
  --primary-color-700: color_alias.$bacosoft-primary-color-700;
  --primary-color-600: #{color_alias.$bacosoft-primary-color-600};
  --primary-color-500: color_alias.$bacosoft-primary-color-500;
  --primary-color-400: color_alias.$bacosoft-primary-color-400;
  --primary-color-300: color_alias.$bacosoft-primary-color-300;
  --primary-color-200: color_alias.$bacosoft-primary-color-200;
  --primary-color-100: color_alias.$bacosoft-primary-color-100;
  --primary-color-50: color_alias.$bacosoft-primary-color-50;
  --neutral-color-1000: color_alias.$bacosoft-neutral-color-1000;
  --neutral-color-900: color_alias.$bacosoft-neutral-color-900;
  --neutral-color-800: color_alias.$bacosoft-neutral-color-800;
  --neutral-color-700: color_alias.$bacosoft-neutral-color-700;
  --neutral-color-600: color_alias.$bacosoft-neutral-color-600;
  --neutral-color-500: color_alias.$bacosoft-neutral-color-500;
  --neutral-color-400: color_alias.$bacosoft-neutral-color-400;
  --neutral-color-300: color_alias.$bacosoft-neutral-color-300;
  --neutral-color-200: color_alias.$bacosoft-neutral-color-200;
  --neutral-color-100: color_alias.$bacosoft-neutral-color-100;
  --neutral-color-50: color_alias.$bacosoft-neutral-color-50;

  //   .bacosoft-erp {
  //     --primary-color-1000: colors.$bacosoft-primary-color-1000;
  //     --primary-color-900: colors.$bacosoft-primary-color-900;
  //     --primary-color-800: colors.$bacosoft-primary-color-800;
  //     --primary-color-700: colors.$bacosoft-primary-color-700;
  //     --primary-color-600: colors.$bacosoft-primary-color-600;
  //     --primary-color-500: colors.$bacosoft-primary-color-500;
  //     --primary-color-400: colors.$bacosoft-primary-color-400;
  //     --primary-color-300: colors.$bacosoft-primary-color-300;
  //     --primary-color-200: colors.$bacosoft-primary-color-200;
  //     --primary-color-100: colors.$bacosoft-primary-color-100;
  //     --primary-color-50: colors.$bacosoft-primary-color-50;
  //     --neutral-color-1000: colors.$bacosoft-neutral-color-1000;
  //     --neutral-color-900: colors.$bacosoft-neutral-color-900;
  //     --neutral-color-800: colors.$bacosoft-neutral-color-800;
  //     --neutral-color-700: colors.$bacosoft-neutral-color-700;
  //     --neutral-color-600: colors.$bacosoft-neutral-color-600;
  //     --neutral-color-500: colors.$bacosoft-neutral-color-500;
  //     --neutral-color-400: colors.$bacosoft-neutral-color-400;
  //     --neutral-color-300: colors.$bacosoft-neutral-color-300;
  //     --neutral-color-200: colors.$bacosoft-neutral-color-200;
  //     --neutral-color-100: colors.$bacosoft-neutral-color-100;
  //     --neutral-color-50: colors.$bacosoft-neutral-color-50;
  //   }

  //   .isagri-erp {
  //     --primary-color-1000: colors.$isagri-primary-color-1000;
  //     --primary-color-900: colors.$isagri-primary-color-900;
  //     --primary-color-800: colors.$isagri-primary-color-800;
  //     --primary-color-700: colors.$isagri-primary-color-700;
  //     --primary-color-600: colors.$isagri-primary-color-600;
  //     --primary-color-500: colors.$isagri-primary-color-500;
  //     --primary-color-400: colors.$isagri-primary-color-400;
  //     --primary-color-300: colors.$isagri-primary-color-300;
  //     --primary-color-200: colors.$isagri-primary-color-200;
  //     --primary-color-100: colors.$isagri-primary-color-100;
  //     --primary-color-50: colors.$isagri-primary-color-50;
  //     --neutral-color-1000: colors.$isagri-neutral-color-1000;
  //     --neutral-color-900: colors.$isagri-neutral-color-900;
  //     --neutral-color-800: colors.$isagri-neutral-color-800;
  //     --neutral-color-700: colors.$isagri-neutral-color-700;
  //     --neutral-color-600: colors.$isagri-neutral-color-600;
  //     --neutral-color-500: colors.$isagri-neutral-color-500;
  //     --neutral-color-400: colors.$isagri-neutral-color-400;
  //     --neutral-color-300: colors.$isagri-neutral-color-300;
  //     --neutral-color-200: colors.$isagri-neutral-color-200;
  //     --neutral-color-100: colors.$isagri-neutral-color-100;
  //     --neutral-color-50: colors.$isagri-neutral-color-50;
  //   }
}
