@use '../../settings/typography/form' as typography;
@use '../../settings/config';

.radio-group {
  display: flex;
  gap: config.$space-1x;
  flex-direction: column;
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  .radio-button {
    display: flex;
    align-items: center;
    gap: config.$space-1x;

    &.primary {
      .radio {
        appearance: none;
        position: relative;
        margin: 0 1rem 0 0;

        // Outside circle
        &:after {
          content: '';
          position: absolute;
          top: -6px;
          left: -2px;
          width: 16px;
          height: 16px;
          background: #fff;
          border: 1px solid var(--neutral-color-600);
          border-radius: 50%;
        }

        &:checked {
          // Inside circle
          &:before {
            content: '';
            position: absolute;
            top: -2px;
            left: 2px;
            z-index: 1;
            width: 8px;
            height: 8px;
            background: var(--primary-color-600);
            border-radius: 50%;
          }

          &:after {
            border: 1px solid var(--primary-color-600);
          }
        }

        &:hover {
          &:after {
            border: 1px solid var(--primary-color-600);
          }
        }

        &:disabled {
          &:after {
            border: 1px solid var(--neutral-color-400);
          }

          &:checked {
            &:before {
              background: var(--neutral-color-400);
            }

            &:after {
              border: 1px solid var(--neutral-color-400);
            }
          }

          &:hover {
            &:after {
              border: 1px solid var(--neutral-color-400);
            }
          }
        }
      }
    }
  }
}
