@use '../../settings/typography/content' as typography;
@use '../../settings/config';
@use '../../settings/depth';

.checkable-tag-group {
  display: flex;
  flex-direction: row;
  gap: config.$space-2x;
  flex-wrap: wrap;

  .checkable-tag {
    display: flex;
    flex-direction: column;
    gap: config.$space-2x;
    padding: config.$space-1x config.$space-3x;
    width: fit-content;
    cursor: default;
    white-space: nowrap;

    &.primary {
      @include typography.footnote-primary;
      color: var(--neutral-color-1000);

      border-radius: config.$corner-radius-m;
      border: 1px solid var(--neutral-color-200);
      background: var(--neutral-white);

      &:hover {
        background: var(--neutral-color-50);
      }

      &.checked {
        color: var(--neutral-white);
        border: 1px solid var(--primary-color-600);
        background: var(--primary-color-600);
      }

      &.disabled {
        color: var(--neutral-color-200);

        border: 1px solid var(--neutral-color-200);
        background: var(--neutral-color-50);
      }
    }
  }
}
