@use '../../settings/color_alias';
@use '../../settings/typography/content' as typography;
@use '../../settings/config';
@use '../../settings/depth';

// Interpolation applied: https://sass-lang.com/documentation/breaking-changes/css-vars/
.rdp-root {
  width: 309px;
  --rdp-accent-color: #{color_alias.$primary-color-600};
  --rdp-accent-background-color: #{color_alias.$primary-color-50};
  --rdp-range_middle-background-color: #{color_alias.$primary-color-50}; 
  --rdp-range_start-date-background-color: #{color_alias.$primary-color-600};
  --rdp-range_end-date-background-color: #{color_alias.$primary-color-600};

}

.rdp-caption_label {
  text-transform: capitalize;
}


.rdp-selected .rdp-day_button {
  background-color: #{color_alias.$primary-color-600};
  color: #{color_alias.$neutral-white};
}

.rdp-range_middle .rdp-day_button {
  @include typography.body-regular-primary;
  background-color: var(--rdp-range_middle-background-color);
}



