@use '../../settings/typography/form' as form-typography;
@use '../../settings/typography/content' as typography;
@use '../../settings/config';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: config.$space-2x;
  width: 100%;

  .ellipsis {
    @include typography.body-regular-primary;
    color: var(--neutral-color-600);
    margin: 0 config.$space-2x 0.625rem config.$space-2x;
  }

  .pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: config.$space-2x;
    border-radius: config.$corner-radius-xxs;
    padding: config.$space-2x;
    width: fit-content;
    height: config.$icon-size-7x;

    &.pagination-arrow {
      width: config.$icon-size-7x;
    }

    &.primary {
      border: 1px solid var(--neutral-color-600);
      background: var(--neutral-white);
      @include typography.body-regular-primary;
      > .icon {
        > svg {
          fill: var(--primary-color-600);
          path {
            fill: var(--primary-color-600);
          }
        }
      }

      &:not(:disabled):hover {
        border: 1px solid var(--primary-color-600);
        background: var(--primary-color-50);
        color: var(--primary-color-600);
      }

      &:not(:disabled).selected {
        border: 1px solid var(--primary-color-600);
        color: var(--primary-color-600);
      }

      &:disabled,
      &.disabled {
        pointer-events: none;
        border: 1px solid var(--neutral-color-400);
        background: var(--neutral-color-50);
        color: var(--neutral-color-400);
        > .icon {
          > svg {
            fill: var(--neutral-color-400);
            path {
              fill: var(--neutral-color-400);
            }
          }
        }
      }
    }
  }

  &.small {
    .pagination-button {
      width: fit-content;
      height: config.$icon-size-5x;
      gap: config.$space-1x;
      padding: config.$space-1x;

      &.pagination-arrow {
        width: config.$icon-size-5x;
      }

      &.primary {
        border: 1px solid transparent;
        background: none;

        &:not(:disabled).selected,
        &:not(:disabled):hover {
          border: 1px solid var(--primary-color-600);
          color: var(--primary-color-600);
        }
      }
    }
  }
}
