@use '../../settings/typography/content' as typography;
@use '../../settings/config';

@mixin button-style($main-color, $secondary-color, $hover-color) {
  background: $main-color;
  color: $secondary-color;

  > .icon {
    > svg {
      fill: $secondary-color;

      path {
        fill: $secondary-color;
      }
    }
  }

  &:not(:disabled):hover,
  &:not(:disabled):active {
    background: $hover-color;
  }
}

.button {
  @include typography.body-bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: config.$space-1x;
  cursor: default;
  height: fit-content;
  padding: config.$space-2x config.$space-3x;
  border-radius: config.$corner-radius-m;
  text-decoration: none;
  border: 1px solid transparent;

  > .icon {
    margin: 6px 2px;
  }

  &.primary {
    @include button-style(
      var(--primary-color-600),
      var(--neutral-white),
      var(--primary-color-800)
    );
  }

  &.primary-outlined {
    border: 1px solid var(--primary-color-600);
    @include button-style(
      var(--neutral-white),
      var(--primary-color-600),
      var(--primary-color-50)
    );
  }

  &.primary-ghost {
    @include button-style(
      var(--neutral-white),
      var(--primary-color-600),
      transparent
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      border: 1px solid var(--primary-color-600);
    }
  }

  &.transparent {
    @include button-style(
      transparent,
      var(--neutral-color-1000),
      transparent
    );
    &.disabled {
      color: var(--neutral-color-400)
    }
  }

  &.error {
    @include button-style(
      var(--error-color-1000),
      var(--neutral-color-1000),
      var(--error-color-700)
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      color: var(--neutral-white);

      > .icon {
        > svg {
          fill: var(--neutral-white);

          path {
            fill: var(--neutral-white);
          }
        }
      }
    }
  }

  &.error-outlined {
    border: 1px solid var(--error-color-600);
    @include button-style(
      var(--neutral-white),
      var(--error-color-600),
      var(--error-color-50)
    );
  }

  &.error-ghost {
    @include button-style(
      var(--neutral-white),
      var(--error-color-600),
      transparent
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      border: 1px solid var(--error-color-600);
    }
  }

  &.success {
    @include button-style(
      var(--success-color-1000),
      var(--neutral-color-900),
      var(--success-color-700)
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      color: var(--neutral-white);

      > .icon {
        > svg {
          fill: var(--neutral-white);

          path {
            fill: var(--neutral-white);
          }
        }
      }
    }
  }

  &.success-outlined {
    border: 1px solid var(--success-color-1000);

    @include button-style(
      var(--neutral-white),
      var(--neutral-color-900),
      var(--success-color-50)
    );
  }

  &.success-ghost {
    @include button-style(
      var(--neutral-white),
      var(--success-color-1000),
      transparent
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      border: 1px solid var(--success-color-1000);
    }
  }

  &.warning {
    @include button-style(
      var(--warning-color-1000),
      var(--neutral-color-900),
      var(--warning-color-700)
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      color: var(--neutral-white);

      > .icon {
        > svg {
          fill: var(--neutral-white);

          path {
            fill: var(--neutral-white);
          }
        }
      }
    }
  }

  &.warning-outlined {
    border: 1px solid var(--warning-color-1000);
    @include button-style(
      var(--neutral-white),
      var(--neutral-color-900),
      var(--warning-color-50)
    );
  }

  &.warning-ghost {
    @include button-style(
      var(--neutral-white),
      var(--warning-color-1000),
      transparent
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      border: 1px solid var(--warning-color-1000);
    }
  }

  &.info {
    @include button-style(
      var(--info-color-600),
      var(--neutral-white),
      var(--info-color-900)
    );
  }

  &.info-outlined {
    border: 1px solid var(--info-color-600);
    @include button-style(
      var(--neutral-white),
      var(--info-color-600),
      var(--info-color-50)
    );
  }

  &.info-ghost {
    @include button-style(
      var(--neutral-white),
      var(--info-color-600),
      transparent
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      border: 1px solid var(--info-color-600);
    }
  }

  &.neutral {
    @include button-style(
      var(--neutral-color-100),
      var(--neutral-color-1000),
      var(--neutral-color-300)
    );
  }

  &.neutral-outlined {
    border: 1px solid var(--neutral-color-100);
    @include button-style(
      var(--neutral-white),
      var(--neutral-color-1000),
      var(--neutral-color-50)
    );
  }

  &.neutral-ghost {
    @include button-style(
      var(--neutral-white),
      var(--neutral-color-1000),
      transparent
    );

    &:not(:disabled):hover,
    &:not(:disabled):active {
      border: 1px solid var(--neutral-color-100);
    }
  }

  &:disabled {
    color: var(--neutral-color-400);

    > .icon {
      > svg {
        fill: var(--neutral-color-400);

        path {
          fill: var(--neutral-color-400);
        }
      }
    }
  }

  &.primary,
  &.error,
  &.success,
  &.warning,
  &.info,
  &.neutral {
    &:disabled {
      background: var(--neutral-color-50);
    }
  }

  &.primary-outlined,
  &.error-outlined,
  &.success-outlined,
  &.warning-outlined,
  &.info-outlined,
  &.neutral-outlined {
    &:disabled {
      background: var(--neutral-color-50);
      border: 1px solid var(--neutral-color-400);
    }
  }
}
