@use '../../settings/color_alias';
@use '../../settings/config';

.icon-button {
  border: none;
  background: none;
  cursor: default;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  > .icon {
    width: config.$icon-size-5x;
    height: config.$icon-size-5x;
    > svg {
      width: 100%;
      height: 100%;
    }
  }

  &.primary {
    > .icon {
      > svg {
        fill: color_alias.$primary-color-600;
        path {
          fill: color_alias.$primary-color-600;
        }
      }
    }

    &:hover {
      > .icon {
        > svg {
          fill: color_alias.$primary-color-800;
          path {
            fill: color_alias.$primary-color-800;
          }
        }
      }
    }
  }

  &.secondary {
    > .icon {
      > svg {
        fill: color_alias.$neutral-white;
        path {
          fill: color_alias.$neutral-white;
        }
      }
    }

    &:hover {
      > .icon {
        > svg {
          fill: color_alias.$neutral-color-1000;
          path {
            fill: color_alias.$neutral-color-1000;
          }
        }
      }
    }
  }

  &.primary,
  &.secondary {
    &:disabled {
      > .icon {
        > svg {
          fill: color_alias.$neutral-color-400;
          path {
            fill: color_alias.$neutral-color-400;
          }
        }
      }
    }
  }
}
