@use '../../settings/config';

.icon-button {
  border: none;
  background: none;
  cursor: default;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.primary {
    > .icon {
      > svg {
        fill: var(--primary-color-600);
        path {
          fill: var(--primary-color-600);
        }
      }
    }

    &:hover {
      > .icon {
        > svg {
          fill: var(--primary-color-800);
          path {
            fill: var(--primary-color-800);
          }
        }
      }
    }
  }

  &.secondary {
    > .icon {
      > svg {
        fill: var(--neutral-white);
        path {
          fill: var(--neutral-white);
        }
      }
    }

    &:hover {
      > .icon {
        > svg {
          fill: var(--neutral-color-1000);
          path {
            fill: var(--neutral-color-1000);
          }
        }
      }
    }
  }

  &.tertiary {
    > .icon {
      > svg {
        fill: var(--neutral-color-400);
        path {
          fill: var(--neutral-color-400);
        }
      }
    }

    &:hover {
      > .icon {
        > svg {
          fill: var(--neutral-color-400);
          path {
            fill: var(--neutral-color-400);
          }
        }
      }
    }
  }

  &.primary {
    &:disabled {
      > .icon {
        > svg {
          fill: var(--neutral-color-400);
          path {
            fill: var(--neutral-color-400);
          }
        }
      }
    }
  }

  &.secondary {
    &:disabled {
      > .icon {
        > svg {
          fill: var(--neutral-white);
          fill-opacity: 0.6;
          path {
            fill: var(--neutral-white);
          }
        }
      }
    }
  }
}
