@use '../../settings/config';
@use '../../settings/mixins';

.icon-button {
  border: none;
  background: none;
  cursor: default;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.primary {
    & > .icon {
      @include mixins.svg-color(var(--primary-color-600));
    }
    &:hover > .icon {
      @include mixins.svg-color(var(--primary-color-800));
    }
    &:disabled > .icon {
      @include mixins.svg-color(var(--neutral-color-400));
    }
  }

  &.secondary {
    & > .icon {
      @include mixins.svg-color(var(--accent-color));
    }
    &:hover > .icon {
      @include mixins.svg-color(var(--primary-color-800));
    }
    &:disabled > .icon {
      @include mixins.svg-color(var(--neutral-color-400));
    }
  }

  &.tertiary {
    & > .icon {
      @include mixins.svg-color(var(--neutral-color-400));
    }
    &:hover > .icon {
      @include mixins.svg-color(var(--neutral-color-400));
    }
    &:disabled > .icon {
      opacity: 0.6;
    }
  }
}
