@use '../settings/typography/content' as typography;
@use '../settings/config';
@use '../settings/depth';

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 config.$space-2x 0.063rem config.$space-2x;
  border: 1px solid transparent;
  border-radius: config.$corner-radius-xxl;
  width: fit-content;
  text-align: center;

  @include typography.footnote-primary;

  &.dot {
    width: 8px;
    height: 8px;
    padding: 0;
  }

  &.info {
    background: var(--info-color-600);
    color: var(--neutral-white);
  }

  &.success {
    background: var(--success-color-1000);
    color: var(--neutral-color-900);
  }

  &.warning {
    background: var(--warning-color-1000);
    color: var(--neutral-color-900);
  }

  &.error {
    background: var(--error-color-1000);
    color: var(--neutral-color-1000);
  }

  &.neutral {
    background: var(--neutral-color-600);
    color: var(--neutral-white);
  }

  &.info-outlined {
    background: var(--info-color-50);
    color: var(--neutral-color-1000);
    border: 1px solid var(--info-color-1000);
  }

  &.success-outlined {
    background: var(--success-color-50);
    color: var(--neutral-color-1000);
    border: 1px solid var(--success-color-300);
  }

  &.warning-outlined {
    background: var(--warning-color-50);
    color: var(--neutral-color-1000);
    border: 1px solid var(--warning-color-1000);
  }

  &.error-outlined {
    background: var(--error-color-50);
    color: var(--neutral-color-1000);
    border: 1px solid var(--error-color-1000);
  }

  &.neutral-outlined {
    background: var(--neutral-color-50);
    color: var(--neutral-color-1000);
    border: 1px solid var(--neutral-color-600);
  }

  &.primary {
    background: var(--primary-color-1000);
    border: 1px solid var(--primary-color-1000);
    color: var(--neutral-white);
  }

  &.primary-outlined {
    background: var(--primary-color-50);
    border: 1px solid var(--primary-color-1000);
    color: var(--neutral-color-1000);
  }

  > .icon {
    width: config.$icon-size-3x;
    height: config.$icon-size-3x;
    > svg {
      width: 100%;
      height: 100%;
    }
  }

  &:has(> .icon) {
    padding: 6px;
  }
}
