@use '../settings/color_alias';
@use '../settings/typography';
@use '../settings/config';

.button {
  &.primary,
  &.primary-outlined,
  &.primary-ghost {
    --color-bg: #{color_alias.$primary-color-1000};
    --color-bg-hover: #{color_alias.$primary-color-700};
    --color-bg-hover-outlined: #{color_alias.$primary-color-50};
    --color-fg: #{color_alias.$neutral-white};
    --color-fg-reversed: #{color_alias.$primary-color-1000};
  }
  &.error,
  &.error-outlined,
  &.error-ghost {
    --color-bg: #{color_alias.$error-color-1000};
    --color-bg-hover: #{color_alias.$error-color-700};
    --color-bg-hover-outlined: #{color_alias.$error-color-50};
    --color-fg: #{color_alias.$neutral-white};
    --color-fg-reversed: #{color_alias.$error-color-1000};
  }
  &.success,
  &.success-outlined,
  &.success-ghost {
    --color-bg: #{color_alias.$success-color-1000};
    --color-bg-hover: #{color_alias.$success-color-700};
    --color-bg-hover-outlined: #{color_alias.$success-color-50};
    --color-fg: #{color_alias.$neutral-white};
    --color-fg-reversed: #{color_alias.$success-color-1000};
  }
  &.warning,
  &.warning-outlined,
  &.warning-ghost {
    --color-bg: #{color_alias.$warning-color-1000};
    --color-bg-hover: #{color_alias.$warning-color-700};
    --color-bg-hover-outlined: #{color_alias.$warning-color-50};
    --color-fg: #{color_alias.$neutral-white};
    --color-fg-reversed: #{color_alias.$warning-color-1000};
  }
  &.info,
  &.info-outlined,
  &.info-ghost {
    --color-bg: #{color_alias.$info-color-1000};
    --color-bg-hover: #{color_alias.$info-color-700};
    --color-bg-hover-outlined: #{color_alias.$info-color-50};
    --color-fg: #{color_alias.$neutral-white};
    --color-fg-reversed: #{color_alias.$info-color-1000};
  }
  &.neutral,
  &.neutral-outlined,
  &.neutral-ghost {
    --color-bg: #{color_alias.$neutral-color-100};
    --color-bg-hover: #{color_alias.$neutral-color-300};
    --color-bg-hover-outlined: #{color_alias.$neutral-color-50};
    --color-fg: #{color_alias.$neutral-color-1000};
    --color-fg-reversed: #{color_alias.$neutral-color-1000};
    --color-fg-disabled: #{color_alias.$neutral-color-50};
  }

  display: inline-flex;
  background: var(--color-bg);
  border: 1px solid transparent;
  padding: config.$space-2x config.$space-3x;
  // padding: var(--space-2-x, .5em) var(--space-3-x, .75em);
  justify-content: center;
  align-items: center;
  gap: config.$space-1x;
  flex-shrink: 0;
  border-radius: config.$corner-radius-m;
  font: typography.$font-primary;
  color: var(--color-fg);
  > span {
    width: config.$icon-size-3x;
    height: config.$icon-size-3x;
    > svg {
      width: 100%;
      height: 100%;
      fill: var(--color-fg);
      path {
        fill: var(--color-fg);
      }
    }
  }

  &:not(:disabled):hover,
  &:not(:disabled):active {
    background: var(--color-bg-hover);
  }

  &:disabled {
    background: color_alias.$neutral-color-200;
    color: var(--color-fg-disabled, var(--color-fg));
    svg,
    svg path {
      fill: var(--color-fg-disabled, var(--color-fg));
    }
  }

  &.primary-outlined,
  &.error-outlined,
  &.success-outlined,
  &.warning-outlined,
  &.info-outlined,
  &.neutral-outlined {
    background: color_alias.$neutral-white;
    color: var(--color-fg-reversed);
    border: 1px solid var(--color-bg);
    svg,
    svg path {
      fill: var(--color-fg-reversed);
    }
    &:not(:disabled):hover,
    &:not(:disabled):active {
      background: var(--color-bg-hover-outlined);
    }
    &:disabled {
      background: color_alias.$neutral-color-50;
      border: 1px solid color_alias.$neutral-color-200;
      color: color_alias.$neutral-color-300;
      svg,
      svg path {
        fill: color_alias.$neutral-color-300;
      }
    }
  }

  &.primary-ghost,
  &.error-ghost,
  &.success-ghost,
  &.warning-ghost,
  &.info-ghost,
  &.neutral-ghost {
    background: transparent;
    color: var(--color-fg-reversed);
    svg,
    svg path {
      fill: var(--color-fg-reversed);
    }
    &:not(:disabled):hover,
    &:not(:disabled):active {
      background: transparent;
      border: 1px solid var(--color-bg);
    }
    &:disabled {
      color: color_alias.$neutral-color-300;
      svg,
      svg path {
        fill: color_alias.$neutral-color-300;
      }
    }
  }
}
