@use '../settings/color_alias';
@use '../settings/typography/cards_table' as typography;
@use '../settings/config';

.cards-table-list {
  display: flex;
  flex-direction: column;
  gap: config.$space-3x;

  tbody {
    display: flex;
    flex-direction: column;
    gap: config.$space-3x;
  }

  tr {
    display: flex;
    flex-grow: 1;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  th {
    padding: config.$space-2x config.$space-3x;
    text-align: left;

    &.sortable {
      cursor: pointer;
    }

    .icon {
      width: config.$icon-size-3x;
      height: config.$icon-size-3x;
      margin-left: config.$space-1x;
      > svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  td {
    padding: config.$space-5x config.$space-3x;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .alignment-left {
    justify-content: flex-start;
  }

  .alignment-center {
    justify-content: center;
  }

  &.primary {
    thead > tr {
      @include typography.cards-table-list-header;
    }

    th {
      background: color_alias.$primary-color-1000;

      .icon {
        > svg {
          fill: color_alias.$neutral-white;
          path {
            fill: color_alias.$neutral-white;
          }
        }

        &.ascending {
          > svg {
            .sorter_svg__up {
              fill: color_alias.$primary-color-600;
            }
            .sorter_svg__down {
              fill: color_alias.$neutral-white;
            }
          }
        }

        &.descending {
          > svg {
            .sorter_svg__up {
              fill: color_alias.$neutral-white;
            }
            .sorter_svg__down {
              fill: color_alias.$primary-color-600;
            }
          }
        }
      }
    }

    th:first-child {
      border-radius: config.$corner-radius-xxs 0px 0px config.$corner-radius-xxs;
    }

    th:last-child {
      border-radius: 0px config.$corner-radius-xxs config.$corner-radius-xxs 0px;
    }

    tr {
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    }

    tr {
      td {
        @include typography.cards-table-list-text;
      }
    }

    tr:not(.disabled):hover {
      background: color_alias.$primary-color-50;
    }

    tr.disabled {
      background: color_alias.$neutral-color-50;

      td {
        @include typography.cards-table-list-disabled-text;
      }
    }

    tr > td:first-child {
      @include typography.cards-table-list-highlight-text;
    }
  }
}

// Media queries
$small: 375px;
$medium: 768px;
$large: 1200px;

// Mobile & tablet cases
@media only screen and (min-width: $small) {
  thead {
    display: none;
  }

  tr {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  td {
    width: 100%;
  }

  td:first-child {
    order: -2;
    width: 50%;
  }
  td.actions {
    order: -1;
    width: 35%;
    flex-grow: 1;

    > div {
      justify-content: flex-end;
    }
  }

  .badge {
    position: absolute;
    inset: auto config.$space-3x config.$space-3x auto;
  }
}
// Desktop case
@media only screen and (min-width: $large) {
  thead {
    display: flex;
  }

  tr {
    flex-direction: row;
  }

  th,
  td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
  }

  th.actions {
    flex: 1;
  }
  td.actions {
    order: 0;
    justify-content: center;
    flex: 1;
  }

  td:has(.badge) {
    gap: config.$space-2x;
  }

  .alignment-right {
    justify-content: flex-end;
  }

  .badge {
    position: inherit;
    inset: auto;
  }
}
