@use '../settings/color_alias';
@use '../settings/typography/form' as typography;
@use '../settings/config';

.checkbox-group {
  @include typography.checkbox-label;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: config.$space-1x;

  .checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: config.$icon-size-4x;
    height: config.$icon-size-4x;
    min-width: config.$icon-size-4x;
  }

  &.disabled {
    @include typography.checkbox-disabled-label;
  }

  &.primary {
    .checkbox {
      background: url('../icons/checkbox-primary-inactive.svg') left top
        no-repeat;
    }
    .checkbox:checked {
      background: url('../icons/checkbox-primary-active.svg') left top no-repeat;
    }
    .checkbox:disabled {
      background: url('../icons/checkbox-disabled-inactive.svg') left top
        no-repeat;
    }
    .checkbox:checked:disabled {
      background: url('../icons/checkbox-disabled-active.svg') left top
        no-repeat;
    }
    &:hover {
      .checkbox:not(:checked):not(:disabled) {
        background: url('../icons/checkbox-primary-hover-inactive.svg') left top
          no-repeat;
      }
    }

    &.indeterminate {
      .checkbox:checked {
        background: url('../icons/checkbox-indeterminate-active.svg') left top
          no-repeat;
      }
    }
  }
}
