@use '../settings/color_alias';
@use '../settings/typography/content' as typography;
@use '../settings/config';
@use '../settings/depth';
@use '../settings/breakpoints';

.date-picker {
  .rdp-root {
    width: 320px;
    --rdp-accent-color: #eb004dff; // color_alias.$primary-color-600;
    --rdp-accent-background-color: #ffedeeff; // color_alias.$primary-color-50;
  }
}
