@use '../settings/typography/content' as typography;
@use '../settings/config';
@use '../settings/depth';

.detail-item {
  display: flex;
  flex-direction: column;
  margin-bottom: config.$space-3x;

  &.single-line {
    flex-direction: row;
    gap: config.$space-1x;
  }

  &.alignment-right {
    text-align: right;
    justify-content: flex-end;
  }

  .title {
    @include typography.body-bold;
    color: var(--neutral-color-1000);
  }

  .information {
    @include typography.body-regular-primary;
    color: var(--neutral-color-1000);
  }
}
