@use '../settings/color_alias';
@use '../settings/typography/content' as typography;
@use '../settings/config';
@use '../settings/depth';

.detail-item {
  display: flex;
  flex-direction: column;
  margin-bottom: config.$space-3x;

  &.alignment-right {
    text-align: right;
  }

  .title {
    @include typography.body-bold;
    color: color_alias.$neutral-color-1000;
  }

  .information {
    @include typography.body-regular-primary;
    color: color_alias.$neutral-color-1000;
  }
}
