@use '../settings/typography/content' as typography;
@use '../settings/config';
@use '../settings/mixins';

$border-line: 1px solid var(--neutral-color-200);

.divider-container {
  @include mixins.icon-color(var(--primary-color-600));
  @include typography.body_bold;
  display: flex;
  gap: config.$space-3x;

  .divider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: config.$space-3x;

    &-title {
      display: flex;
      align-items: center;
    }

    .short {
      width: config.$space-6x;
      margin-right: config.$space-3x;
    }

    .line {
      border: $border-line;
    }

    .long {
      flex: 1;
    }

    .icon {
      margin-right: config.$space-2x;
    }

    .link {
      color: var(--primary-color-600);
      text-decoration-line: underline;
      cursor: default;
    }

    .iconButton {
      margin-left: config.$space-3x;
    }
  }
}
