@use 'sass:map';
@use '../settings/themes';
@use '../settings/typography/content' as typography;
@use '../settings/config';
@use '../settings/mixins';

$border-line: 1px solid
  map.get(themes.$themes, 'users', 'colors', 'primary-color-600');

.divider {
  @include mixins.icon-color(
    map.get(themes.$themes, 'users', 'colors', 'primary-color-600')
  );
  @include typography.body_bold;
  display: flex;
  align-items: center;

  .line {
    border: $border-line;
  }

  .long {
    flex: 1;
    margin-left: config.$space-3x;
  }

  .short {
    width: config.$space-6x;
    margin-right: config.$space-3x;
  }

  .icon {
    margin-right: config.$space-2x;
  }
}
