@use '../settings/config';
@use '../settings/mixins';

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > svg {
    width: 100%;
    height: 100%;
  }

  &.size-1 {
    @include mixins.size(config.$icon-size-1x);
  }
  &.size-2 {
    @include mixins.size(config.$icon-size-2x);
  }
  &.size-3 {
    @include mixins.size(config.$icon-size-3x);
  }
  &.size-4 {
    @include mixins.size(config.$icon-size-4x);
  }
  &.size-5 {
    @include mixins.size(config.$icon-size-5x);
  }
  &.size-6 {
    @include mixins.size(config.$icon-size-6x);
  }
  &.size-7 {
    @include mixins.size(config.$icon-size-7x);
  }
  &.size-8 {
    @include mixins.size(config.$icon-size-8x);
  }

  &.info {
    @include mixins.svg-color(var(--info-color-1000));
  }
  &.success {
    @include mixins.svg-color(var(--success-color-1000));
  }
  &.warning {
    @include mixins.svg-color(var(--warning-color-1000));
  }
  &.error {
    @include mixins.svg-color(var(--error-color-1000));
  }
  &.primary {
    @include mixins.svg-color(var(--primary-color-600));
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &.rotate {
    animation: rotate 2s linear infinite;
  }
}
