@use '../settings/color_alias';
@use '../settings/typography/form' as typography;
@use '../settings/config';

.input-group {
  display: flex;
  flex-direction: column;
  gap: config.$space-2x;

  .input {
    padding-left: 12px;
  }

  &:has(.input.invalid) {
    & .input-help-text {
      @include typography.form-help-text-error;
    }
  }

  &.primary {
    .input-container {
      .icon {
        > svg {
          fill: color_alias.$neutral-color-400;
          path {
            fill: color_alias.$neutral-color-400;
          }
        }
      }

      .password-icon {
        > svg {
          fill: color_alias.$neutral-color-600;
          path {
            fill: color_alias.$neutral-color-600;
          }
        }
      }
    }

    .input {
      border-radius: config.$corner-radius-m;
      border: 1px solid color_alias.$neutral-color-600;
      background: color_alias.$neutral-white;

      @include typography.input-text;

      &::placeholder {
        @include typography.input-placeholder-text;
      }

      &:focus {
        outline: color_alias.$primary-color-600;
        border: 1px solid color_alias.$primary-color-600;
      }

      &.invalid {
        border: 1px solid color_alias.$error-color-1000;
      }

      &:disabled {
        border: 1px solid color_alias.$neutral-color-400;
        background: color_alias.$neutral-color-50;
        color: color_alias.$neutral-color-400;

        &::placeholder {
          color: color_alias.$neutral-color-400;
        }
      }
    }

    .input-help-text {
      @include typography.form-help-text;
    }

    .input-label {
      @include typography.form-label;
    }
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: row;

    .icon {
      position: absolute;
      width: config.$icon-size-3x;
      height: config.$icon-size-3x;
      > svg {
        width: 100%;
        height: 100%;
      }
    }

    .left-icon {
      top: 0.9rem;
      left: 0.7rem;
    }

    .password-icon {
      top: 0.9rem;
      right: 0.7rem;
    }
  }

  .input {
    width: 100%;
    padding: config.$space-2x config.$space-3x config.$space-2x;
    &[type='date'] {
      min-width: -webkit-fill-available;
    }
  }

  .with-icon {
    padding-left: 28px;
  }
}
