@use '../settings/color_alias';
@use '../settings/typography/form' as typography;
@use '../settings/config';

.input-group {
  @include typography.input-text;
  display: flex;
  flex-direction: column;
  gap: config.$space-2x;

  .input-help-text {
    @include typography.form-help-text;
  }

  .input-label {
    @include typography.form-label;
  }

  &.invalid .input-help-text {
    @include typography.form-help-text-error;
  }

  .input-container {
    position: relative;
    gap: config.$space-2x;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: config.$space-2x config.$space-3x config.$space-2x;
    input[type='date'] {
      min-width: -webkit-fill-available;
    }
    input[type='number'] {
      text-align: right;
    }
    input::placeholder,
    textarea::placeholder {
      @include typography.input-placeholder-text;
    }
    input,
    input:hover,
    input:focus,
    input:active,
    input:focus-visible,
    input:focus-within,
    input:visited,
    textarea,
    textarea:hover,
    textarea:focus,
    textarea:active,
    textarea:focus-visible,
    textarea:focus-within,
    textarea:visited {
      @include typography.input-text;
      width: 100%;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .input-suffix {
      text-wrap: nowrap;
      color: color_alias.$neutral-color-600;
    }
    .icon {
      min-width: config.$icon-size-5x;
      width: config.$icon-size-5x;
      height: config.$icon-size-5x;
    }

    .left-icon {
      top: 0.9rem;
      left: 0.7rem;
    }
  }

  &.primary {
    &.invalid .input-container {
      border: 1px solid color_alias.$error-color-1000;
    }
    .input-container {
      border-radius: config.$corner-radius-m;
      border: 1px solid color_alias.$neutral-color-600;
      background: color_alias.$neutral-white;

      &:has(input:focus),
      &:has(textarea:focus) {
        outline: color_alias.$primary-color-600;
        border: 1px solid color_alias.$primary-color-600;
      }

      &:has(input:disabled),
      &:has(textarea:disabled) {
        border: 1px solid color_alias.$neutral-color-400;
        background: color_alias.$neutral-color-50;
        color: color_alias.$neutral-color-400;

        input::placeholder,
        textarea::placeholder {
          color: color_alias.$neutral-color-400;
        }
      }
      .icon {
        > svg {
          fill: color_alias.$neutral-color-400;
          path {
            fill: color_alias.$neutral-color-400;
          }
        }
      }

      .password-icon {
        > svg {
          fill: color_alias.$neutral-color-600;
          path {
            fill: color_alias.$neutral-color-600;
          }
        }
      }
    }
  }
}
