@use '../settings/color_alias';
@use '../settings/typography/form' as form-typography;
@use '../settings/typography/content' as typography;
@use '../settings/config';

.quantity-selector-group {
  display: flex;
  flex-direction: column;
  gap: config.$space-2x;

  .quantity-selector {
    display: flex;
    align-items: flex-start;

    .input-group {
      width: 100%;
    }
  }

  &.primary {
    .quantity-selector {
      .input-container {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
        background: color_alias.$neutral-white;
        text-align: center;
        // Remove default arrows
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type='number'] {
          -moz-appearance: textfield;
          text-align: center;
        }
      }
      .button {
        @include typography.body-regular-primary;
        color: color_alias.$neutral-white;
        height: 42px;

        &:disabled {
          border: 1px solid color_alias.$neutral-color-400;
          color: color_alias.$neutral-color-400;
        }
      }
      .decrement-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:disabled {
          border-right: 0;
        }
      }

      .increment-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:disabled {
          border-left: 0;
        }
      }
    }

    .quantity-selector-label {
      @include form-typography.form-label;
    }
  }
}
