@use '../../settings/color_alias';
@use '../../settings/typography/cards_table' as typography;
@use '../../settings/config';
@use '../../settings/breakpoints';

@mixin align-data-vertically() {
  thead {
    display: none;
  }

  tbody {
    tr {
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      gap: config.$space-1x;
      padding: config.$space-2x config.$space-3x;
    }
  }

  td {
    width: 100%;
    flex: inherit;
    padding: 0px;
  }
}

.cards-table-list {
  display: flex;
  flex-direction: column;
  gap: config.$space-3x;

  tbody {
    display: flex;
    flex-direction: column;
    gap: config.$space-3x;

    tr {
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    }
  }

  tr {
    display: flex;
    flex-grow: 1;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  th {
    padding: config.$space-2x config.$space-3x;
    text-align: left;

    &.sortable {
      cursor: pointer;
    }

    .icon {
      width: config.$icon-size-3x;
      height: config.$icon-size-3x;
      margin-left: config.$space-1x;
      > svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .alignment-left {
    justify-content: flex-start;
  }

  .alignment-center {
    justify-content: center;
  }

  .actions {
    display: flex;
    gap: config.$space-7x;
  }

  &.primary {
    thead > tr {
      @include typography.cards-table-list-header;
    }

    th {
      background: color_alias.$neutral-color-900;

      .icon {
        > svg {
          fill: color_alias.$neutral-white;
          path {
            fill: color_alias.$neutral-white;
          }
        }

        &.ascending {
          > svg {
            .sorter_svg__up {
              fill: color_alias.$primary-color-600;
            }
            .sorter_svg__down {
              fill: color_alias.$neutral-white;
            }
          }
        }

        &.descending {
          > svg {
            .sorter_svg__up {
              fill: color_alias.$neutral-white;
            }
            .sorter_svg__down {
              fill: color_alias.$primary-color-600;
            }
          }
        }
      }
    }

    th:first-child {
      border-radius: config.$corner-radius-xxs 0px 0px config.$corner-radius-xxs;
    }

    th:last-child {
      border-radius: 0px config.$corner-radius-xxs config.$corner-radius-xxs 0px;
    }

    tr {
      border: 1px solid transparent;
      td {
        @include typography.cards-table-list-text;
      }
    }

    tr:not(.disabled):hover {
      background: color_alias.$primary-color-50;
    }

    &.with-title tr > td:first-child {
      @include typography.cards-table-list-highlight-text;
    }

    tr.disabled {
      background: color_alias.$neutral-color-50;

      td {
        @include typography.cards-table-list-disabled-text;
      }
    }
    tr.active {
      border-color: color_alias.$primary-color-1000;
      box-shadow: none;
    }
    tr.action {
      cursor: default;
    }
  }

  // Desktop
  thead {
    display: flex;
  }
  tr {
    flex-direction: row;
  }

  th,
  td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;

    .checkbox-group {
      margin-right: config.$space-1x;
    }
  }

  td {
    padding: config.$space-2x config.$space-3x;
  }

  th.actions {
    justify-content: center;
  }

  td.actions {
    order: 0;
    justify-content: center;
  }

  .badge:has(.icon) {
    margin: auto;
  }

  .alignment-right {
    justify-content: flex-end !important;
  }

  &.vertically {
    @include align-data-vertically();
  }

  // Media queries
  // Mobile & tablet cases
  @media only screen and (max-width: breakpoints.$large) {
    @include align-data-vertically();

    td:first-child {
      order: -2;
    }

    .badge:has(.icon) {
      margin: 0;
      margin-left: config.$space-2x;
    }

    &.with-title td:not(.actions):nth-child(2) {
      margin-top: config.$space-2x;
    }

    .title-actions-5 {
      width: calc(100% - 5 * config.$icon-size-5x - 4 * config.$space-7x - 8px);
    }
    .title-actions-4 {
      width: calc(100% - 4 * config.$icon-size-5x - 3 * config.$space-7x - 8px);
    }
    .title-actions-3 {
      width: calc(100% - 3 * config.$icon-size-5x - 2 * config.$space-7x - 8px);
    }
    .title-actions-2 {
      width: calc(100% - 2 * config.$icon-size-5x - 1 * config.$space-7x - 8px);
    }
    .title-actions-1 {
      width: calc(100% - 1 * config.$icon-size-5x - 8px);
    }

    td.actions {
      order: -1;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: flex-end;
      flex-basis: content;
    }

    .alignment-right {
      justify-content: flex-start;
    }

    .badge {
      position: absolute;
      inset: auto auto config.$space-2x config.$space-2x;
    }

    .badge:has(> .icon) {
      position: relative;
      inset: inherit;
    }

    td:has(.badge > .icon) {
      justify-content: flex-start;
    }

    // Specify Badge vertical position depending on having a right aligned item or not
    tr:not(.alignment-right) {
      padding-bottom: config.$space-10x;
    }
    tr:has(.alignment-right) {
      padding-bottom: config.$space-2x;
    }
  }
}
