$font-size-footnote: 0.875rem;
$font-size-body: 1rem;
$font-size-h4: 1.25rem;
$font-size-h3: 1.5rem;
$font-size-h2: 2rem;
$font-size-h1: 2.5rem;
$font-line-height-footnote: 1.375rem;
$font-line-height-body: 1.5rem;
$font-line-height-h4: 1.75rem;
$font-line-height-h3: 2rem;
$font-line-height-h2: 2.375rem;
$font-line-height-h1: 3rem;

@mixin typography-style($font-weight, $font-size, $line-height, $color) {
  font-variant: normal;
  font-family: Mulish, sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin h1 {
  @include typography-style(
    700,
    $font-size-h1,
    $font-line-height-h1,
    var(--neutral-color-1000)
  );
  margin: 0;
}

@mixin h2 {
  @include typography-style(
    700,
    $font-size-h2,
    $font-line-height-h2,
    var(--neutral-color-1000)
  );
  margin: 0;
}

@mixin h3 {
  @include typography-style(
    700,
    $font-size-h3,
    $font-line-height-h3,
    var(--neutral-color-1000)
  );
  margin: 0;
}

@mixin h4 {
  @include typography-style(
    700,
    $font-size-h4,
    $font-line-height-h4,
    var(--neutral-color-1000)
  );
  margin: 0;
}

@mixin body-regular-primary {
  @include typography-style(
    400,
    $font-size-body,
    $font-line-height-body,
    var(--neutral-color-1000)
  );
}

@mixin body-regular-secondary {
  @include typography-style(
    400,
    $font-size-body,
    $font-line-height-body,
    var(--neutral-color-600)
  );
}

@mixin body-regular-disabled {
  @include typography-style(
    400,
    $font-size-body,
    $font-line-height-body,
    var(--neutral-color-400)
  );
}

@mixin body-regular-error {
  @include typography-style(
    400,
    $font-size-body,
    $font-line-height-body,
    var(--error-color-1000)
  );
}

@mixin body-regular-warning {
  @include typography-style(
    400,
    $font-size-body,
    $font-line-height-body,
    var(--warning-color-1000)
  );
}

@mixin body-underline {
  @include typography-style(
    400,
    $font-size-body,
    $font-line-height-body,
    var(--neutral-color-1000)
  );
  text-decoration-line: underline;
}

@mixin body-link {
  @include typography-style(
    400,
    $font-size-body,
    $font-line-height-body,
    var(--primary-color-600)
  );
}

@mixin body-medium {
  @include typography-style(
    500,
    $font-size-body,
    $font-line-height-body,
    var(--neutral-color-1000)
  );
}

@mixin body-bold {
  @include typography-style(
    700,
    $font-size-body,
    $font-line-height-body,
    var(--neutral-color-1000)
  );
}

@mixin body-extrabold {
  @include typography-style(
    800,
    $font-size-body,
    $font-line-height-body,
    var(--neutral-color-1000)
  );
}

@mixin footnote-primary {
  @include typography-style(
    400,
    $font-size-footnote,
    $font-line-height-footnote,
    var(--neutral-color-600)
  );
}

@mixin footnote-error {
  @include typography-style(
    400,
    $font-size-footnote,
    $font-line-height-footnote,
    var(--error-color-1000)
  );
}
