@use '../color_alias';
@import 'https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap';

$font-size-footnote: 0.875rem;
$font-size-body: 1rem;
$font-size-h4: 1.25rem;
$font-size-h3: 1.5rem;
$font-size-h2: 2rem;
$font-size-h1: 2.5rem;
$font-line-height-footnote: 1.375rem;
$font-line-height-body: 1.5rem;
$font-line-height-h4: 1.75rem;
$font-line-height-h3: 2rem;
$font-line-height-h2: 2.375rem;
$font-line-height-h1: 3rem;

@mixin base {
  font-variant: normal;
  font-weight: 400;
  font-family: Mulish, sans-serif;
  color: color_alias.$neutral-color-1000;
  font-size: $font-size-body;
  line-height: $font-line-height-body;
}

@mixin h1 {
  @include base;
  font-weight: 700;
  color: color_alias.$neutral-color-1000;
  font-size: $font-size-h1;
  line-height: $font-line-height-h1;
  margin: 0;
}

@mixin h2 {
  @include base;
  font-weight: 700;
  color: color_alias.$neutral-color-1000;
  font-size: $font-size-h2;
  line-height: $font-line-height-h2;
  margin: 0;
}

@mixin h3 {
  @include base;
  font-weight: 700;
  color: color_alias.$neutral-color-1000;
  font-size: $font-size-h3;
  line-height: $font-line-height-h3;
  margin: 0;
}

@mixin h4 {
  @include base;
  font-weight: 700;
  color: color_alias.$neutral-color-1000;
  font-size: $font-size-h4;
  line-height: $font-line-height-h4;
  margin: 0;
}

@mixin body-regular-primary {
  @include base;
  color: color_alias.$neutral-color-1000;
}

@mixin body-regular-secondary {
  @include base;
  color: color_alias.$neutral-color-600;
}

@mixin body-regular-disabled {
  @include base;
  color: color_alias.$neutral-color-400;
}

@mixin body-regular-error {
  @include base;
  color: color_alias.$error-color-1000;
}

@mixin body-regular-warning {
  @include base;
  color: color_alias.$warning-color-1000;
}

@mixin body-underline {
  @include base;
  color: color_alias.$neutral-color-1000;
  text-decoration-line: underline;
}

@mixin body-link {
  @include base;
  color: color_alias.$primary-color-600;
}

@mixin body-medium {
  @include base;
  font-weight: 500;
  color: color_alias.$neutral-color-1000;
}

@mixin body-bold {
  @include base;
  font-weight: 700;
  color: color_alias.$neutral-color-1000;
}

@mixin body-extrabold {
  @include base;
  font-weight: 800;
  color: color_alias.$neutral-color-1000;
}

@mixin footnote-primary {
  @include base;
  color: color_alias.$neutral-color-600;
  font-size: $font-size-footnote;
  line-height: $font-line-height-footnote;
}

@mixin footnote-error {
  @include base;
  color: color_alias.$error-color-1000;
  font-size: $font-size-footnote;
  line-height: $font-line-height-footnote;
}
