@use '../../settings/typography/form' as typography;

.form-label {
  @include typography.form-label;

  &.is-required::after {
    content: '*';
    color: var(--primary-color-600);
  }
  &.is-disabled {
    @include typography.form-label-disabled;
  }
}
