@use '../../settings/color_alias';
@use '../../settings/typography/content' as typography;
@use '../../settings/config';
@use '../../settings/depth';

%top {
  bottom: 42px;
  margin-top: auto;
  margin-bottom: config.$space-2x;
}

%left {
  left: 0;
}

%right {
  right: 0;
}

%center {
  left: 50%;
  transform: translateX(-50%);
}

.popover-container {
  pointer-events: none;
  position: relative;

  > * {
    pointer-events: auto;
  }

  .popover-menu-container {
    position: absolute;
    white-space: nowrap;
    margin-top: config.$space-2x;
    z-index: depth.$z-popover;

    &.left {
      @extend %left;
    }

    &.right {
      @extend %right;
    }

    &.center {
      @extend %center;
    }

    &.top {
      &-left {
        @extend %top;
        @extend %left;
      }

      &-right {
        @extend %top;
        @extend %right;
      }

      &-center {
        @extend %top;
        @extend %center;
      }
    }
  }
}

.popover-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 9px 28px 8px rgba(0, 0, 0, 0.05);

  .popover-menu-option {
    @include typography.body-regular-primary;
    display: flex;
    width: 100%;
    padding: config.$space-2x config.$space-3x config.$space-2x config.$space-3x;
    border-radius: config.$corner-radius-xxs;
    text-decoration: none;
    cursor: default;
    border: none;

    > .icon {
      margin-top: config.$space-2x;
      margin-bottom: config.$space-2x;
      margin-right: 6px;
    }

    &:hover {
      text-decoration: none;
    }

    &.primary {
      background: color_alias.$neutral-white;

      > .icon {
        > svg {
          fill: color_alias.$primary-color-600;

          path {
            fill: color_alias.$primary-color-600;
          }
        }
      }

      &.active {
        background-color: transparent;
      }

      &:not(.disabled):hover {
        background: color_alias.$primary-color-50;
      }

      &.disabled {
        background: color_alias.$neutral-color-50;
        @include typography.body-regular-disabled;

        > .icon {
          > svg {
            fill: color_alias.$neutral-color-400;

            path {
              fill: color_alias.$neutral-color-400;
            }
          }
        }
      }
    }
  }
}
