@use '../../settings/typography/content' as typography;
@use '../../settings/config';
@use '../../settings/depth';
@use '../../settings/breakpoints';

%top {
  bottom: 42px;
  margin-top: auto;
  margin-bottom: config.$space-2x;
}

%left {
  left: 0;
}

%right {
  right: 0;
}

%center {
  left: 50%;
  transform: translateX(-50%);
}

.popover-container {
  pointer-events: none;
  position: relative;

  > * {
    pointer-events: auto;
  }

  .popover-menu-container {
    position: absolute;
    white-space: nowrap;
    margin-top: config.$space-2x;
    z-index: depth.$z-popover;

    &.left {
      @extend %left;
    }

    &.right {
      @extend %right;
    }

    &.center {
      @extend %center;
    }

    &.top {
      &-left {
        @extend %top;
        @extend %left;
      }

      &-right {
        @extend %top;
        @extend %right;
      }

      &-center {
        @extend %top;
        @extend %center;
      }
    }
  }
}

.popover-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: config.$corner-radius-xxs;
  overflow: hidden;
  box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 9px 28px 8px rgba(0, 0, 0, 0.05);

  .popover-menu-option {
    @include typography.body-regular-primary;
    display: flex;
    width: 100%;
    padding: config.$space-2x config.$space-3x config.$space-2x config.$space-3x;
    text-decoration: none;
    cursor: default;
    border: none;

    > .icon {
      margin-top: config.$space-2x;
      margin-bottom: config.$space-2x;
      margin-right: 6px;
    }

    &:hover {
      text-decoration: none;
    }

    &.primary {
      background: var(--neutral-white);

      > .icon {
        > svg {
          fill: var(--primary-color-600);

          path {
            fill: var(--primary-color-600);
          }
        }
      }

      &.active {
        background-color: var(--neutral-white);
      }

      &:not(.disabled):hover {
        background: var(--primary-color-50);
      }

      &.disabled {
        background: var(--neutral-color-50);
        @include typography.body-regular-disabled;

        > .icon {
          > svg {
            fill: var(--neutral-color-400);

            path {
              fill: var(--neutral-color-400);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: breakpoints.$medium) {
  .popover-container {
    position: inherit;

    .popover-menu-container {
      position: fixed;
      bottom: 0 !important;
      left: 0 !important;
      width: 100%;
      right: inherit !important;
      transform: inherit !important;
      margin-top: inherit !important;
      margin-bottom: inherit !important;

      .backdrop {
        display: inherit;
        position: fixed;
        height: 100%;
        opacity: 0.4;
        background: var(--neutral-color-900);
        inset: 0;
        z-index: depth.$z-backdrop;
      }
    }
  }

  .popover-menu {
    .popover-menu-option {
      z-index: depth.$z-popover;
      justify-content: center;

      &:first-child {
        border-top-left-radius: config.$corner-radius-m;
        border-top-right-radius: config.$corner-radius-m;
      }
    }
  }
}
