@import './colors';

/* Aliases  */
$primary-color-1000: $magenta-1000;
$primary-color-900: $magenta-900;
$primary-color-800: $magenta-800;
$primary-color-700: $magenta-700;
$primary-color-600: $magenta-600;
$primary-color-500: $magenta-500;
$primary-color-400: $magenta-400;
$primary-color-300: $magenta-300;
$primary-color-200: $magenta-200;
$primary-color-100: $magenta-100;
$primary-color-50: $magenta-50;
$neutral-color-1000: $grey-1000;
$neutral-color-900: $grey-900;
$neutral-color-800: $grey-800;
$neutral-color-700: $grey-700;
$neutral-color-600: $grey-600;
$neutral-color-500: $grey-500;
$neutral-color-400: $grey-400;
$neutral-color-300: $grey-300;
$neutral-color-200: $grey-200;
$neutral-color-100: $grey-100;
$neutral-color-50: $grey-50;
$error-color-1000: $red-1000;
$error-color-900: $red-900;
$error-color-800: $red-800;
$error-color-700: $red-700;
$error-color-600: $red-600;
$error-color-500: $red-500;
$error-color-400: $red-400;
$error-color-300: $red-300;
$error-color-200: $red-200;
$error-color-100: $red-100;
$error-color-50: $red-50;
$success-color-1000: $green-1000;
$success-color-900: $green-900;
$success-color-800: $green-800;
$success-color-700: $green-700;
$success-color-600: $green-600;
$success-color-500: $green-500;
$success-color-400: $green-400;
$success-color-300: $green-300;
$success-color-200: $green-200;
$success-color-100: $green-100;
$success-color-50: $green-50;
$warning-color-1000: $orange-1000;
$warning-color-900: $orange-900;
$warning-color-800: $orange-800;
$warning-color-700: $orange-700;
$warning-color-600: $orange-600;
$warning-color-500: $orange-500;
$warning-color-400: $orange-400;
$warning-color-300: $orange-300;
$warning-color-200: $orange-200;
$warning-color-100: $orange-100;
$warning-color-50: $orange-50;
$info-color-1000: $dodger-blue-1000;
$info-color-900: $dodger-blue-900;
$info-color-800: $dodger-blue-800;
$info-color-700: $dodger-blue-700;
$info-color-600: $dodger-blue-600;
$info-color-500: $dodger-blue-500;
$info-color-400: $dodger-blue-400;
$info-color-300: $dodger-blue-300;
$info-color-200: $dodger-blue-200;
$info-color-100: $dodger-blue-100;
$info-color-50: $dodger-blue-50;
$neutral-black: $black-1000;
$neutral-white: $white-1000;
