 /* This file is exported like: $white-1000-bodegas -> we need to erase bodegas */
 
 /* Variables  */
 $white-1000: #FFFFFFFF;
 $red-1000: #EC2A2FFF;
 $red-50: #FFEDE9FF;
 $red-100: #FFCABDFF;
 $red-200: #FFA696FF;
 $red-300: #FF8372FF;
 $red-400: #FF6054FF;
 $red-500: #F93E3BFF;
 $red-600: #E01A27FF;
 $red-700: #C20019FF;
 $red-800: #A00010FF;
 $red-900: #7B000AFF;
 $purple-1000: #5F0F40FF;
 $purple-900: #5A2843FF;
 $purple-800: #763558FF;
 $purple-700: #90446DFF;
 $purple-600: #A95782FF;
 $purple-500: #BF6C97FF;
 $purple-400: #D183ABFF;
 $purple-300: #E19DBEFF;
 $purple-200: #EDB8D1FF;
 $purple-100: #F6D4E4FF;
 $purple-50: #FCF0F6FF;
 $green-1000: #6FB62EFF;
 $green-900: #154300FF;
 $green-800: #195800FF;
 $green-700: #246D00FF;
 $green-600: #388200FF;
 $green-500: #519708FF;
 $green-400: #6DAB34FF;
 $green-300: #8CBF5BFF;
 $green-200: #ACD285FF;
 $green-100: #CDE5B3FF;
 $green-50: #EFF6E5FF;
 $dodger-blue-1000: #1890FFFF;
 $orange-1000: #FFA940FF;
 $dodger-blue-900: #003A7BFF;
 $dodger-blue-800: #004DA1FF;
 $dodger-blue-700: #0060C2FF;
 $dodger-blue-600: #0074DEFF;
 $dodger-blue-500: #0087F3FF;
 $dodger-blue-400: #4F9CFFFF;
 $dodger-blue-300: #7DB1FFFF;
 $dodger-blue-200: #A6C6FFFF;
 $dodger-blue-100: #CBDCFFFF;
 $dodger-blue-50: #EEF3FFFF;
 $orange-900: #5A2E00FF;
 $orange-800: #753D00FF;
 $orange-700: #8F4E00FF;
 $orange-600: #A86100FF;
 $orange-500: #C07500FF;
 $orange-400: #D58B2EFF;
 $orange-300: #E7A255FF;
 $orange-200: #F5BB81FF;
 $orange-100: #FDD6B0FF;
 $orange-50: #FFF1E4FF;
 $black-1000: #000000FF;
 $grey-1000: #444444FF;
 $grey-900: #393939FF;
 $grey-800: #4B4B4BFF;
 $grey-700: #5E5E5EFF;
 $grey-600: #727272FF;
 $grey-500: #868686FF;
 $grey-400: #9B9B9BFF;
 $grey-300: #B0B0B0FF;
 $grey-200: #C6C6C6FF;
 $grey-100: #DDDDDDFF;
 $grey-50: #F3F3F3FF;

