@use './colors';

/* Aliases  */
// $primary-color-1000: colors.$magenta-1000;
// $primary-color-900: colors.$magenta-900;
// $primary-color-800: colors.$magenta-800;
// $primary-color-700: colors.$magenta-700;
// $primary-color-600: colors.$magenta-600;
// $primary-color-500: colors.$magenta-500;
// $primary-color-400: colors.$magenta-400;
// $primary-color-300: colors.$magenta-300;
// $primary-color-200: colors.$magenta-200;
// $primary-color-100: colors.$magenta-100;
// $primary-color-50: colors.$magenta-50;
// $neutral-color-1000: colors.$grey-1000;
// $neutral-color-900: colors.$grey-900;
// $neutral-color-800: colors.$grey-800;
// $neutral-color-700: colors.$grey-700;
// $neutral-color-600: colors.$grey-600;
// $neutral-color-500: colors.$grey-500;
// $neutral-color-400: colors.$grey-400;
// $neutral-color-300: colors.$grey-300;
// $neutral-color-200: colors.$grey-200;
// $neutral-color-100: colors.$grey-100;
// $neutral-color-50: colors.$grey-50;

$bacosoft-primary-color-1000: colors.$magenta-1000;
$bacosoft-primary-color-900: colors.$magenta-900;
$bacosoft-primary-color-800: colors.$magenta-800;
$bacosoft-primary-color-700: colors.$magenta-700;
$bacosoft-primary-color-600: colors.$magenta-600;
$bacosoft-primary-color-500: colors.$magenta-500;
$bacosoft-primary-color-400: colors.$magenta-400;
$bacosoft-primary-color-300: colors.$magenta-300;
$bacosoft-primary-color-200: colors.$magenta-200;
$bacosoft-primary-color-100: colors.$magenta-100;
$bacosoft-primary-color-50: colors.$magenta-50;
$isagri-primary-color-1000: colors.$yellow-green-1000;
$isagri-primary-color-900: colors.$yellow-green-900;
$isagri-primary-color-800: colors.$yellow-green-800;
$isagri-primary-color-700: colors.$yellow-green-700;
$isagri-primary-color-600: colors.$yellow-green-600;
$isagri-primary-color-500: colors.$yellow-green-500;
$isagri-primary-color-400: colors.$yellow-green-400;
$isagri-primary-color-300: colors.$yellow-green-300;
$isagri-primary-color-200: colors.$yellow-green-200;
$isagri-primary-color-100: colors.$yellow-green-100;
$isagri-primary-color-50: colors.$yellow-green-50;
$bacosoft-neutral-color-1000: colors.$grey-1000;
$bacosoft-neutral-color-900: colors.$grey-900;
$bacosoft-neutral-color-800: colors.$grey-800;
$bacosoft-neutral-color-700: colors.$grey-700;
$bacosoft-neutral-color-600: colors.$grey-600;
$bacosoft-neutral-color-500: colors.$grey-500;
$bacosoft-neutral-color-400: colors.$grey-400;
$bacosoft-neutral-color-300: colors.$grey-300;
$bacosoft-neutral-color-200: colors.$grey-200;
$bacosoft-neutral-color-100: colors.$grey-100;
$bacosoft-neutral-color-50: colors.$grey-50;
$isagri-neutral-color-1000: colors.$dark-charcoal-grey-1000;
$isagri-neutral-color-900: colors.$dark-charcoal-grey-900;
$isagri-neutral-color-800: colors.$dark-charcoal-grey-800;
$isagri-neutral-color-700: colors.$dark-charcoal-grey-700;
$isagri-neutral-color-600: colors.$dark-charcoal-grey-600;
$isagri-neutral-color-500: colors.$dark-charcoal-grey-500;
$isagri-neutral-color-400: colors.$dark-charcoal-grey-400;
$isagri-neutral-color-300: colors.$dark-charcoal-grey-300;
$isagri-neutral-color-200: colors.$dark-charcoal-grey-200;
$isagri-neutral-color-100: colors.$dark-charcoal-grey-100;
$isagri-neutral-color-50: colors.$dark-charcoal-grey-50;
$error-color-1000: colors.$red-1000;
$error-color-900: colors.$red-900;
$error-color-800: colors.$red-800;
$error-color-700: colors.$red-700;
$error-color-600: colors.$red-600;
$error-color-500: colors.$red-500;
$error-color-400: colors.$red-400;
$error-color-300: colors.$red-300;
$error-color-200: colors.$red-200;
$error-color-100: colors.$red-100;
$error-color-50: colors.$red-50;
$success-color-1000: colors.$green-1000;
$success-color-900: colors.$green-900;
$success-color-800: colors.$green-800;
$success-color-700: colors.$green-700;
$success-color-600: colors.$green-600;
$success-color-500: colors.$green-500;
$success-color-400: colors.$green-400;
$success-color-300: colors.$green-300;
$success-color-200: colors.$green-200;
$success-color-100: colors.$green-100;
$success-color-50: colors.$green-50;
$warning-color-1000: colors.$orange-1000;
$warning-color-900: colors.$orange-900;
$warning-color-800: colors.$orange-800;
$warning-color-700: colors.$orange-700;
$warning-color-600: colors.$orange-600;
$warning-color-500: colors.$orange-500;
$warning-color-400: colors.$orange-400;
$warning-color-300: colors.$orange-300;
$warning-color-200: colors.$orange-200;
$warning-color-100: colors.$orange-100;
$warning-color-50: colors.$orange-50;
$info-color-1000: colors.$dodger-blue-1000;
$info-color-900: colors.$dodger-blue-900;
$info-color-800: colors.$dodger-blue-800;
$info-color-700: colors.$dodger-blue-700;
$info-color-600: colors.$dodger-blue-600;
$info-color-500: colors.$dodger-blue-500;
$info-color-400: colors.$dodger-blue-400;
$info-color-300: colors.$dodger-blue-300;
$info-color-200: colors.$dodger-blue-200;
$info-color-100: colors.$dodger-blue-100;
$info-color-50: colors.$dodger-blue-50;
$neutral-black: colors.$black-1000;
$neutral-white: colors.$white-1000;

$primary-color-1000: var(--primary-color-1000, $bacosoft-primary-color-1000);
$primary-color-900: var(--primary-color-900, $bacosoft-primary-color-900);
$primary-color-800: var(--primary-color-800, $bacosoft-primary-color-800);
$primary-color-700: var(--primary-color-700, $bacosoft-primary-color-700);
$primary-color-600: var(--primary-color-600, $bacosoft-primary-color-600);
$primary-color-500: var(--primary-color-500, $bacosoft-primary-color-500);
$primary-color-400: var(--primary-color-400, $bacosoft-primary-color-400);
$primary-color-300: var(--primary-color-300, $bacosoft-primary-color-300);
$primary-color-200: var(--primary-color-200, $bacosoft-primary-color-200);
$primary-color-100: var(--primary-color-100, $bacosoft-primary-color-100);
$primary-color-50: var(--primary-color-50, $bacosoft-primary-color-50);
$neutral-color-1000: var(--neutral-color-1000, $bacosoft-neutral-color-1000);
$neutral-color-900: var(--neutral-color-900, $bacosoft-neutral-color-900);
$neutral-color-800: var(--neutral-color-800, $bacosoft-neutral-color-800);
$neutral-color-700: var(--neutral-color-700, $bacosoft-neutral-color-700);
$neutral-color-600: var(--neutral-color-600, $bacosoft-neutral-color-600);
$neutral-color-500: var(--neutral-color-500, $bacosoft-neutral-color-500);
$neutral-color-400: var(--neutral-color-400, $bacosoft-neutral-color-400);
$neutral-color-300: var(--neutral-color-300, $bacosoft-neutral-color-300);
$neutral-color-200: var(--neutral-color-200, $bacosoft-neutral-color-200);
$neutral-color-100: var(--neutral-color-100, $bacosoft-neutral-color-100);
$neutral-color-50: var(--neutral-color-50, $bacosoft-neutral-color-50);
