/* Variables  */
$white-1000: #ffffffff;
$red-1000: #ff4d4fff;
$red-50: #ffeeebff;
$red-100: #ffcbc3ff;
$red-200: #ffa99eff;
$red-300: #ff867dff;
$red-400: #ff6561ff;
$red-500: #f34549ff;
$red-600: #db2836ff;
$red-700: #bd0b27ff;
$red-800: #9c001cff;
$red-900: #780314ff;
$magenta-1000: #ff005bff;
$magenta-900: #820023ff;
$magenta-800: #a9002fff;
$magenta-700: #cc003cff;
$magenta-600: #eb004dff;
$magenta-500: #ff1e60ff;
$magenta-400: #ff5077ff;
$magenta-300: #ff7990ff;
$magenta-200: #ffa1adff;
$magenta-100: #ffc7ccff;
$magenta-50: #ffedeeff;
$green-1000: #6fb62eff;
$green-900: #154300ff;
$green-800: #195800ff;
$green-700: #246d00ff;
$green-600: #388200ff;
$green-500: #519708ff;
$green-400: #6dab34ff;
$green-300: #8cbf5bff;
$green-200: #acd285ff;
$green-100: #cde5b3ff;
$green-50: #eff6e5ff;
$dodger-blue-1000: #1890ffff;
$orange-1000: #ffa940ff;
$dodger-blue-900: #003a7bff;
$dodger-blue-800: #004da1ff;
$dodger-blue-700: #0060c2ff;
$dodger-blue-600: #0074deff;
$dodger-blue-500: #0087f3ff;
$dodger-blue-400: #4f9cffff;
$dodger-blue-300: #7db1ffff;
$dodger-blue-200: #a6c6ffff;
$dodger-blue-100: #cbdcffff;
$dodger-blue-50: #eef3ffff;
$orange-900: #5a2e00ff;
$orange-800: #753d00ff;
$orange-700: #8f4e00ff;
$orange-600: #a86100ff;
$orange-500: #c07500ff;
$orange-400: #d58b2eff;
$orange-300: #e7a255ff;
$orange-200: #f5bb81ff;
$orange-100: #fdd6b0ff;
$orange-50: #fff1e4ff;
$black-1000: #000000ff;
$grey-1000: #161c26ff;
$grey-900: #353941ff;
$grey-800: #464c55ff;
$grey-700: #595f6aff;
$grey-600: #6c727fff;
$grey-500: #808793ff;
$grey-400: #959ba7ff;
$grey-300: #acb1bbff;
$grey-200: #c3c7cfff;
$grey-100: #dadde2ff;
$grey-50: #f3f3f5ff;
$isagriefact-primary-1000: #91cb44ff;
$isagriefact-primary-900: #154300ff;
$isagriefact-primary-800: #205700ff;
$isagriefact-primary-700: #326c00ff;
$isagriefact-primary-600: #468000ff;
$isagriefact-primary-500: #5c9505ff;
$isagriefact-primary-400: #73ab28ff;
$isagriefact-primary-300: #8bc044ff;
$isagriefact-primary-200: #a4d660ff;
$isagriefact-primary-100: #beeb7dff;
$isagriefact-primary-50: #d8ff9cff;
$isagriefact-grey-1000: #333333ff;
$isagriefact-grey-900: #393939ff;
$isagriefact-grey-800: #4b4b4bff;
$isagriefact-grey-700: #5e5e5eff;
$isagriefact-grey-600: #727272ff;
$isagriefact-grey-500: #868686ff;
$isagriefact-grey-400: #9b9b9bff;
$isagriefact-grey-300: #b0b0b0ff;
$isagriefact-grey-200: #c6c6c6ff;
$isagriefact-grey-100: #ddddddff;
$isagriefact-grey-50: #f3f3f3ff;
