// Pending to clean the non-used agroptima variables and -bodegas from the name
/* Variables  */
$space-halfx: 2px;
$space-1x: 4px;
$space-2x: 8px;
$space-3x: 12px;
$space-4x: 16px;
$space-5x: 20px;
$space-6x: 24px;
$space-7x: 28px;
$space-8x: 32px;
$space-9x: 36px;
$space-10x: 40px;

$corner-radius-m: 8px;
$corner-radius-xxl: 100px;
$corner-radius-xxs: 2px;

$icon-size-1x: 4px;
$icon-size-3x: 12px;
$icon-size-4x: 16px;
$icon-size-5x: 20px;
$icon-size-6x: 24px;
$icon-size-3x: 12px;
$icon-size-2x: 8px;
$icon-size-7x: 28px;
$icon-size-8x: 32px;

$breakpoints-small: 375px;
$breakpoints-medium: 900px;
$breakpoints-large: 1200px;
