// Source: https://www.smashingmagazine.com/2021/02/css-z-index-large-projects/

// Utils
$base: 0;
$above: 1; // use this for all values above the base
$below: -1; // and this for all values below the base

$z-backdrop: $base;
$z-card-table-header: $base + $above;
$z-header: $z-card-table-header + $above;
$z-floating-button: $z-header + $above;
$z-dropdown-options: $z-floating-button + $above;
$z-popover: $z-dropdown-options;
$z-alert-container: $z-dropdown-options + $above;
$z-modal: $z-alert-container + $above;
$z-aside-desktop: $base + $above;
$z-aside-mobile: $z-modal + $above;

$z-timeline-rail: $base;
$z-timeline-circle: $base + $above;