@mixin icon-color($color) {
  .icon > svg {
    fill: $color;
    path {
      fill: $color;
    }
  }
}

@mixin svg-color($color) {
  svg {
    fill: $color;
    path {
      fill: $color;
    }
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}
