@use '../settings/color_alias';
// 87.5 = SemiCondensed , 400..600 normal, medium, semibold
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@87.5,100..600';

$font-base-family:
  Noto Sans,
  sans-serif;
$text-base-size: 1rem;
$text-base-style: normal;
$font-base-weight: 600;
$line-height-base: normal;
$font-base-stretch: semi-condensed;

$font-primary: $font-base-stretch $text-base-style $font-base-weight #{$text-base-size}/#{$line-height-base}
  $font-base-family;

@mixin button-text {
  @include body-medium;
}

@mixin form-help-text {
  @include footnote-primary
    // We need to apply a relation between font-size and line-height so the box envoloping the span
    // is the most accurate in terms of top and bottom blank space.
    // font-size: 0.75rem;
    // line-height: 0.6875rem;
;
}

@mixin form-help-text-error {
  @include footnote-error
    // We need to apply a relation between font-size and line-height so the box envoloping the span
    // is the most accurate in terms of top and bottom blank space.
    // font-size: 0.75rem;
    // line-height: 0.6875rem;
;
}

@mixin input-text {
  @include body-regular-primary;
}
@mixin input-placeholder-text {
  @include body-regular-secondary
    // We shouldn't define a font-size for the placeholder: https://stackoverflow.com/questions/30916387/placeholder-font-size-bigger-than-16px
;
}
@mixin select-text {
  @include body-regular-secondary;
}
@mixin select-option-text {
  @include body-regular-primary;
}
@mixin form-label {
  @include body-regular-primary;
  // font-size: 0.875rem;
  // line-height: 0.775rem;
}

@mixin checkbox-label {
  @include body-regular-primary;
}

@mixin checkbox-disabled-label {
  @include body-regular-disabled;
}

@mixin cards-table-list-header {
  @include body-medium;
  color: color_alias.$neutral-white;
}

@mixin cards-table-list-highlight-text {
  @include body-bold;
}

@mixin cards-table-list-text {
  @include body-regular-primary;
}

@mixin cards-table-list-disabled-text {
  @include body-regular-disabled;
}

@mixin empty-state-text {
  @include body-regular-primary;
  text-align: center;
}

@mixin h1 {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 700;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 2.375rem;
  line-height: 2.875rem;
  margin: 0;
}

@mixin h2 {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 700;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 1.875rem;
  line-height: 2.375rem;
  margin: 0;
}

@mixin h3 {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 700;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

@mixin h4 {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 700;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
}

@mixin body-regular-primary {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-regular-secondary {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-600;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-regular-disabled {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-regular-error {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$error-color-1000;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-regular-warning {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$warning-color-1000;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-medium {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 600;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-bold {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 700;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-underline {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-1000;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration-line: underline;
}

@mixin footnote-primary {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$neutral-color-600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin footnote-error {
  font-style: $text-base-style;
  font-variant: $text-base-style;
  font-weight: 400;
  font-family: $font-base-family;
  color: color_alias.$error-color-1000;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
