@use '../../settings/typography/content' as typography;
@use '../../settings/config';
@use '../../settings/depth';
@use '../../settings/breakpoints';

.menu {
  @include typography.body-regular-primary;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;

  &-item {
    display: flex;
    gap: config.$space-2x;
    padding: config.$space-3x;
    text-decoration: none;
    color: inherit;
    align-items: center;
    cursor: default;

    .icon.icon {
      width: config.$icon-size-3x;
      height: config.$icon-size-3x;
      > svg {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      flex: 1;
    }

    &.primary {
      color: var(--neutral-white);
      background: var(--neutral-color-900);

      .icon {
        > svg {
          fill: var(--neutral-white);
          path {
            fill: var(--neutral-white);
          }
        }
      }

      &:hover {
        background: var(--primary-color-600);
      }

      &.active {
        background: var(--primary-color-600);
      }
    }
  }

  details[open]>.menu-item .arrow {
    transform: rotate(180deg);
  }

  .menu-dropdown .menu {
    .menu-item {
      padding-left: config.$space-3x;
      background: var(--neutral-color-100);
      color: var(--neutral-color-1000);

      &:hover {
        background: var(--primary-color-100);
      }
    }

    .arrow > svg {                                                                                                                                       
      fill: var(--primary-color-600);                                                                                                                   
      path {                                                                                                                                             
        fill: var(--primary-color-600);                                                                                                                 
      }                             
    }

    .active {
      background: var(--primary-color-100);
      box-shadow: inset -3px 0px 0px 0px var(--primary-color-100);
    }
  }

  .menu-dropdown .menu .menu-dropdown .menu{
      .menu-item {
        padding-left: config.$space-8x;
        background: var(--neutral-color-50);
        color: var(--neutral-color-1000);

        &:hover {
          background: var(--primary-color-100);
        }
      }

      .active {
        background: var(--primary-color-100);
        box-shadow: inset -3px 0px 0px 0px var(--primary-color-100);
      }
    }

  .menu-item::-webkit-details-marker {
    display: none;
  }

  @media only screen and (max-width: breakpoints.$medium) {
    .menu-item {
      .arrow {
        width: config.$icon-size-5x;
        height: config.$icon-size-5x;
      }
    }
  }
}